/* BUTTONs FOR THEME SELECTING */

.dark-theme body {
    color: #FFF9F0;
}

/* HIGH CONTRAST THEME */
/*.highcontrast .RE,
.highcontrast .CR,
.highcontrast .EN,
.highcontrast .VU,
.highcontrast .DD,
.highcontrast .LC,
.highcontrast .NA,
.highcontrast .NE,
.highcontrast .NT {
    color: white;
    background: #262f31;
}

.highcontrast input:checked + .slider {
    background-color: #3d3b3a;
}

.highcontrast .sidebarmenu li h3,
.highcontrast .button.tertiary,
.highcontrast .main button.tertiary {
    color: #124eac;
}

.highcontrast .title_header .button.tertiary {
    color: white;
    border: none;
}

.highcontrast .habitat_element {
    background: white;
}

.highcontrast .land, .sea {
    fill: white;
}*/
/* PAD-SIZE 940px */
/*@media only screen and (max-width: 940px) {

    .highcontrast  .side {
        background: none;
        border-top: 1px solid black;
    }
}*/

/* MAP COLOURS */
/*.highcontrast .extinct,
.highcontrast .sea.extinct {
    background: #fcbc78;
    fill: #fcbc78;
}

.highcontrast .presumed_extinct,
.highcontrast .sea.presumed_extinct {
    background: #ff800f;
    fill: #ff800f;
}

.highcontrast .presumed,
.highcontrast .sea.presumed {
    background: #a2c8ec;
    fill: #a2c8ec;
}

.highcontrast .known,
.highcontrast .sea.known {
    background: #006ba8;
    fill: #006ba8;
}

.highcontrast .list-search,
.highcontrast .controls button.active,
.highcontrast .habitat_element,
.highcontrast .main .changetab,
.highcontrast .main .changetab.active,
.highcontrast .tabbed_element_container {
    border-color: #262f31;
}

.highcontrast .controls button.active,
.highcontrast .main .changetab.active {
    border-bottom-color: white;
}

.highcontrast .dark-theme .list-search input{
    color:black;
}*/
/* 
    DARK THEME:
   FUN PROJECT NOT EVEN SLIGHTLY THERE
*/

/* MAP COLOURS */
.dark-theme .vurdert_N,
.dark-theme .vurdert_S_pattedyr,
.dark-theme .vurdert_S,
.dark-theme .no_distribution,
.dark-theme .current,
.dark-theme .sea.current {
    stroke: #eee;
    fill: #2b2a2a;
}

.dark-theme .extinct,
.dark-theme .sea.extinct,
.dark-theme .presumed_extinct,
.dark-theme .sea.presumed_extinct,
.dark-theme .presumed,
.dark-theme .sea.presumed,
.dark-theme .known,
.dark-theme .sea.known {
    stroke: #fff;
}

.dark-theme .vurdert_S .known,
.dark-theme .vurdert_S .sea.known {
    stroke: #000;
}

.dark-theme .vurdert_N .svalbard_land {
    stroke: #262f31;
}

/* PURE BLACK BACKGROUND */
.dark-theme,
.dark-theme .main {
    background: #262f31;
}

@media only screen and (max-width: 750px) {
    .dark-theme .filter_background,
    .dark-theme .filter_groups {
        background: #262f31;
    }

}

/* MAIN BACKGROUND COLOR */
.dark-theme .sidebarmenu ul,
.dark-theme .main .changetab.active,
.dark-theme .list-search,
.dark-theme .main-content {
    background: #262f31;
}

/* SEMI-GRAY BACKGROUND */
.dark-theme .listheader,
.dark-theme .viewselector,
.dark-theme .controls button.active,
.dark-theme .main_list_view .listheader,
.dark-theme .controls button.active,
.dark-theme .search_dropdown,
.dark-theme .controls .list_actions,
.dark-theme.highcontrast .controls button.active {
    background: #262f31;
}

/* TRANSPARENT ITEMS */
.dark-theme .main .filter_group button,
.dark-theme .active .page-link,
.dark-theme .main .filter_group button,
.dark-theme .button.tertiary,
.dark-theme .main button.tertiary,
.dark-theme .habitat_element,
.dark-theme .filter_group button {
    background: transparent;
}

/* Other button bg */
.dark-theme .controls button,
.dark-theme .controls .list_actions,
.dark-theme .button{
    background: #484848;
    border-color: #9d9d9d;
}

.dark-theme .main button:not(.icon-button) {
    border-color: #9d9d9d;
}

.dark-theme .accordion-primary .adb-accordion-button,
.dark-theme .accordion-secondary .adb-accordion-button,
.dark-theme .accordion-primary .adb-accordion-button:active,
.dark-theme .accordion-secondary .adb-accordion-button:active,
.dark-theme .accordion-primary .adb-accordion-button:focus,
.dark-theme .accordion-secondary .adb-accordion-button:focus,
.dark-theme .accordion-primary.open .adb-accordion-button,
.dark-theme .accordion-secondary.open .adb-accordion-button,
.dark-theme .accordion-primary.open .adb-accordion-button:active,
.dark-theme .accordion-secondary.open .adb-accordion-button:active,
.dark-theme .accordion-primary.open .adb-accordion-button:focus,
.dark-theme .accordion-secondary.open .adb-accordion-button:focus {
    background: #484848;
}

    .dark-theme .accordion-primary .adb-accordion-button:hover,
    .dark-theme .accordion-secondary .adb-accordion-button:hover,
    .dark-theme .accordion-primary.open .adb-accordion-button:hover,
    .dark-theme .accordion-secondary.open .adb-accordion-button:hover {
        background: transparent;
        border: 1px solid #9d9d9d;
        color: #FFF9F0;
    }

    /* WHITE FONT COLOR*/
    .dark-theme, .dark-theme header, .dark-theme .controls .list_actions, .dark-theme .list-search, .dark-theme .main-content, .dark-theme .sidebarmenu li a, .dark-theme .button.primary, .dark-theme .main button.primary, .dark-theme .main button:not(.icon-button), .dark-theme .button, .dark-theme .controls button.active, .dark-theme .category_displayer .tag, .dark-theme .regionlist.legend .region span, .dark-theme .main .changetab.active, .dark-theme .tabbed_element_container li.active, .dark-theme .impact_table, .dark-theme .page-link, .dark-theme .percent, .dark-theme p {
        color: #FFF9F0;
    }

.dark-theme .main .changetab:not(.active) {
    color: #262F31
}

    .dark-theme .main button.close_filters {
        color: #262F31;
    }

/* TODO: Fix white text too high contrast being almost painfully white */


/* DISABLED/UNCLICKABLE LINKS */
.dark-theme .byline,
.dark-theme .date,
.dark-theme .breadcrumbs li.currentcrumb {
    color: #b5aaaa;
}

.dark-theme .tabbed_element_container li.inactive {
    color: #bf7575;
}

/* HEADING COLOURED TEXT  */
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme .element_popular_name {
    color: #FFF9F0;
}

/* ACTIVE LINK COLOUR */

.dark-theme .list:hover .speciesgroup_name,
.dark-theme .search_matchedname,
.dark-theme .search_match,
.dark-theme a,
.dark-theme .breadcrumbs li,
.dark-theme .button.tertiary,
.dark-theme .main button.tertiary,
.dark-theme .sidebarmenu li h3,
.dark-theme .sidebarmenu .main_list_view h3 {
    color: inherit;
    /*border-color: inherit;*/
}

.dark-theme .sidebarmenu .alien-species h3 {
    color: #b372bb;
    border-color: #b372bb;
}

/* Blackish color */
.dark-theme .list a:hover,
.dark-theme .list a:focus,
.dark-theme .list a:active,
.dark-theme .sidebarmenu li a:hover,
.dark-theme .list:hover .element_popular_name,
.dark-theme .list-search input,
.dark-theme .tabbed_element_container .thresholdlist.active {
    color: #262f31;
}

/* BORDERS */


.dark-theme .controls button.active {
    border-bottom: transparent;
}

/* SEMI-GRAY-BORDERS */
.dark-theme .dark-theme .controls button.active,
.dark-theme .listheader {
    border-color: #262f31;
}

/* WHITE BORDER */
.dark-theme .category_displayer li.active .category_item,
.dark-theme .category_displayer .notactive .category_item {
    border-color: white;
}

/* ACTIVE BORDER */
.dark-theme .see_all .habitat_element.active {
    border-color: #f97474;
}

/* BORDERS */

.dark-theme .tabbed_element_container ul,
.dark-theme .impact_table,
.dark-theme .tabbed_element_container ul p,
.dark-theme ul.fourth,
.dark-theme ul.second {
    border-color: #df6c6c;
}

.dark-theme .sidebarmenu ul,
.dark-theme .sidebarmenu li a,
.dark-theme .main_list_view li {
    border-color: #464646;
}

.dark-theme .filter_group button {
    border-color: #514f4f;
}

.dark-theme .button.primary,
.dark-theme .main button.primary {
    border: 1px solid #262f31;
}

.dark-theme .search_dropdown {
    border-color: #8c8c8c;
}

.dark-theme .viewselector {
    border-color: #7f726b;
    border-bottom: 1px solid #7f726b;
}

/* ICONS */
@media only screen and (min-width: 321px) {
    .dark-theme .element_icon,
    .dark-theme .image_background {
        width: 50px;
        height: 50px;
        background: white;
        padding: 4px;
        border-radius: 50%;
    }

    .dark-theme .speciesgroup_name {
        background: #424141;
    }
}

.dark-theme .search_speciesicon {
    background: white;
    border-radius: 50%;
}

/* SPECIAL STUFF */
.dark-theme .S .speciesgroup_name,
.dark-theme .main_list_view li.S {
    background: #0f122d;
}

.dark-theme .main .changetab.active {
    border-bottom-color: #262f31;
}

.dark-theme .category_displayer::before{
    background:white;
}

.dark-theme .list-search,
.dark-theme hr {
    border-color: #403d3d;
}

.dark-theme .graph .heightbar_indicator,
.dark-theme .down_graph .heightbar_indicator {
    border: 1px solid white;
}

.dark-theme input:checked ~ .slider_container .slider,
.dark-theme .slider {
    border-color: white;
}

.dark-theme .svalbard-heading {
    color: #55b2df
}

/* HIGH CONTRAST + DARK THEME */
.dark-theme.highcontrast a,
.dark-theme.highcontrast .breadcrumbs li,
.dark-theme.highcontrast .button.tertiary,
.dark-theme.highcontrast .main button.tertiary,
.dark-theme.highcontrast .sidebarmenu li h3 {
    color: #f9d754;
}

/* HEADING COLOURED TEXT  */
.dark-theme.highcontrast h1,
.dark-theme.highcontrast h2,
.dark-theme.highcontrast h3,
.dark-theme.highcontrast h4,
.dark-theme.highcontrast h5,
.dark-theme.highcontrast .search_matchedname,
.dark-theme.highcontrast .search_match,
.dark-theme.highcontrast .element_popular_name {
    color: #f9da62;
}

.dark-theme.highcontrast input:checked + .slider {
    background-color: #ca1c35;
    border-color: #ca1c35;
}

.dark-theme.highcontrast .button, 
.dark-theme.highcontrast .main button {
    background: #ca1c35;
    border:1px solid white;
}

.dark-theme.highcontrast .button.tertiary,
.dark-theme.highcontrast .filter_group button {
    background: transparent;
}

.dark-theme.highcontrast .controls{
    border-color:white;
}

.dark-theme.highcontrast .controls button.active,
.dark-theme .controls button.active {
    border-bottom: 1px solid #262f31;
    border-left-color: #7f726b;
}

.dark-theme.highcontrast .filternumber {
    background: #ffbd78;
    color:black;
}

.dark-theme.highcontrast .category_tag{
    border:2px solid white;
    background:black;
}

.dark-theme.highcontrast .indicator:not(:empty) {
    border: 1px solid #fff;
}

.dark-theme.highcontrast .button.tertiary{
    border:0;
}

.dark-theme.highcontrast .category_displayer .active .category_item {
    background: #f9d754;
    border-color: #f9d754
}

.dark-theme.highcontrast .category_displayer .active .category_item span{
    color: #262f31;
}

/* RED BACKGROUND */


.dark-theme .success {
    color: #7ae57a;
}

.dark-theme .error {
    color: #e55440;
}

.dark-theme .mobile_padding .table-of-contents {
    background-color: #262f31;
    border: 1px solid #ccc;
}

.criteria-summary-list .collapsible {
    background: inherit;
}

.criteria-summary-list li {
    background: inherit;
}

.dark-theme .sidebarmenu button.button.tertiary {
    color: #262F31;
}

.collapsible_header_letter {
    color: grey;
}

.dark-theme .bar-chart-info-box,
.dark-theme .bar-chart-info-box p {
    color: #262F31;
}

@media (min-width: 1400px) {
    .dark-theme .pagination-wrapper {
        background: inherit;
    }
}

.dark-theme .PagedList-pageCountAndLocation.disabled a {
    color: inherit;
}

@media only screen and (max-width: 750px) {
    .dark-theme .water-area td:nth-child(2) {
        background: rgba(128, 128, 128,0.2)
    }

    .dark-theme .water-area td:nth-child(2) b {
        color: white;
    }

    .dark-theme .adb-header .adb-header-logo .dark-theme-logo {
        margin-left: 20px;
    }
}

.dark-theme .big-data-table {
    background: #262f31
}
.dark-theme .criteria-summary-list .collapsible .collapsible_content {
    background: #3b4345;
}


/* dark-theme LINKS */
.dark-theme .footer .some-container a,
.dark-theme .breadcrumbs li a,
.dark-theme a,
.dark-theme footer a {
    color: #34B3D2;
}

/* OCEAN: #262f31 */


/* DARK THEME */


/*.dark-theme button {
    color: #faf1e4;
}*/

.dark-theme .footer .some-container,
.dark-theme .footer,
.dark-theme .top,
.dark-theme .center,
.dark-theme .bottom,
.dark-theme .adb-header {
    background: #262f31;
    color: #faf1e4;
    border-color: #faf1e4;
}


.dark-theme .header-mega-link-text {
    color: #fff9f0;
}

.dark-theme .themeselectordropdown .themebutton,
.dark-theme .dropdown,
.dark-theme .header-mega-menu {
    background: #262f31;
    color: #fff9f0;
    border-color: #fff9f0;
}

.dark-theme .sidebarmenu button.button.tertiary {
    color: #f5e7d3;
}
.dark-theme .title_header {
    background: #484848;
}

.dark-theme .sidebar_image_info img {
    background: #d9d9d9;
}

.adb-header-logo .dark-theme-logo {
    display: none;
}

.dark-theme .adb-header-logo .dark-theme-logo {
    display: block;
    max-width: 230px;
    margin-left: 30px;
}

.dark-theme .adb-header-logo .default-logo {
    display: none;
}

.dark-theme #adb_header_search {
    background: #262f31;
}

.dark-theme .adb-footer,
.dark-theme .adb-footer .top .center,
.dark-theme .adb-footer .middle .center,
.dark-theme .adb-footer .middle .some-container {
    background: #262f31;
    border-color: #faf1e4;
}