/*
    CODE DIRECTLY OBTAINED FROM "Inline stylesheet RL2015".
*/

/* CATEGORY BAR */

.category_displayer {
    font-size: 0;
    max-width: 100%;
    position: relative;
    overflow-x: visible;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.category_displayer li {
    display: inline-block;
    margin-bottom: 8px;
    margin: 0px;
    vertical-align: top;
    padding-top: 14px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    margin: 3px;
}

.category_displayer .category_item {
    height: 48px;
    width: 48px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    margin:auto;
}

.category_displayer span {
    font-size: 8pt;
    display: block;
    line-height: 1;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    &:first-letter {
        text-transform: capitalize;
    }
}

.category_displayer .category_item span {
    margin: auto;
    text-align: center;
    font-size: var(--font-size-8);
    color: inherit;
    line-height: 40px;
}

.category_displayer li.active {
    padding-top:0;
    font-weight:bold;
}

.category_displayer li.active .category_item {
    height: 94px;
    width: 94px;
}

.category_displayer li.active span {
    font-size:12pt;
}

.category_displayer li.active .category_item span {
    line-height: 84px;
    font-size: 24pt;
}

@media only screen and (max-width: 510px) {
    .category_displayer::before {       
        top: 34px;
    }

    .category_displayer li {
        width: 25px;
        padding-top:20px;
    }
    .category_displayer .category_item {
        width: 25px;
        height: 25px;
    }
    .category_displayer .category_item span {
        font-size: 12pt;
        line-height: 25px;
    }
    .category_displayer .notactive .tag{
       display:none;
    }

}

@media only screen and (max-width: 345px) {

    .category_displayer::before {
        top: 30px;
    }

    .category_displayer li{
        margin:1px;
    }

    .category_displayer li.active .category_item {
        height: 50px;
        width: 50px;
    }

    .category_displayer li.active .category_item span {
        line-height: 40px;
        font-size: 18pt;
    }

    .category_displayer .category_item {
        width: 19px;
        height: 19px;
    }

    .category_displayer .category_item span {
        font-size: 9pt;
        line-height: 19px;
    }
}

/* COLOURS */

.RE {
    background: var(--background-redlist-re);
    color: var(--text-redlist-re);
    border-color: var(--border-redlist-re);
}

.CO {
    background: var(--background-redlist-co);
    color: var(--text-redlist-co);
    border-color: var(--border-redlist-co);
}

.CR {
    background: var(--background-redlist-cr);
    color: var(--text-redlist-cr);
    border-color: var(--border-redlist-cr);
}

.EN {
    background: var(--background-redlist-en);
    color: var(--text-redlist-en);
    border-color: var(--border-redlist-en);
}

.VU {
    background: var(--background-redlist-vu);
    color: var(--text-redlist-vu);
    border-color: var(--border-redlist-vu);
}

.NT {
    background: var(--background-redlist-nt);
    color: var(--text-redlist-nt);
    border-color: var(--border-redlist-nt);
}

.DD {
    background: var(--background-redlist-dd);
    color: var(--text-redlist-dd);
    border-color: var(--border-redlist-dd);
}

.LC {
    background: var(--background-redlist-lc);
    color: var(--text-redlist-lc);
    border-color: var(--border-redlist-lc);
}

.NA {
    background: var(--background-redlist-na);
    color: var(--text-redlist-na);
    border-color: var(--border-redlist-na);
}

.NE {
    background: var(--background-redlist-ne);
    color: var(--text-redlist-ne);
    border-color: var(--border-redlist-ne);
}

.SE {
    background: var(--background-alien-list-se);
    color: var(--text-alien-list-se);
    border-color: var(--border-alien-list-se);
}

.HI {
    background: var(--background-alien-list-hi);
    color: var(--text-alien-list-hi);
    border-color: var(--border-alien-list-hi);
}

.PH {
    background: var(--background-alien-list-ph);
    color: var(--text-alien-list-ph);
    border-color: var(--border-alien-list-ph);
}

.LO {
    background: var(--background-alien-list-lo);
    color: var(--text-alien-list-lo);
    border-color: var(--border-alien-list-lo);
}

.NK {
    background: var(--background-alien-list-nk);
    color: var(--text-alien-list-nk);
    border-color: var(--border-alien-list-nk);
}

.NR {
    background: var(--background-alien-list-nr);
    color: var(--text-alien-list-nr);
    border-color: var(--border-alien-list-nr);
}

span.percent {
    color: #262F31;
}

.criteria_displayer li{
    flex:1;
}

.criteria_displayer{
    padding-bottom:10px;
}
