/*
    CODE DIRECTLY OBTAINED FROM "Inline stylesheet RL2015".
*/

/* CATEGORY BAR */

.category_displayer {
    font-size: 0;
    max-width: 100%;
    position: relative;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0;
}

.category_displayer li {
    display: inline-block;
    margin-bottom: 8px;
    margin: 0px;
    vertical-align: top;
    padding-top: 14px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    margin: 3px;
}

.category_displayer .category_item {
    height: 48px;
    width: 48px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    margin:auto;
}

.category_displayer span {
    font-size: 8pt;
    display: block;
    line-height: 1;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    &:first-letter {
        text-transform: capitalize;
    }
}

.category_displayer .category_item span {
    margin: auto;
    text-align: center;
    font-size: var(--font-size-8);
    color: inherit;
    line-height: 40px;
}

.category_displayer li.active {
    padding-top:0;
    font-weight:bold;
}

.category_displayer li.active .category_item {
    height: 94px;
    width: 94px;
}

.category_displayer li.active span {
    font-size:12pt;
}

.category_displayer li.active .category_item span {
    line-height: 84px;
    font-size: 40px;
}

@media only screen and (max-width: 575px) {
    .category_displayer::before {       
        top: 34px;
    }

    .category_displayer .category_item {
        width: 32px;
        height: 32px;
    }
    .category_displayer .category_item span {
        font-size: 12pt;
        line-height: 20px;
    }
    
    .category_displayer .active .tag {
        font-size: 12pt;
    }

    .category_displayer li.active .category_item {
        height: 48px;
        width: 48px;
    }

    .category_displayer li.active .category_item span {
        line-height: 40px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 400px) {

    .category_displayer::before {
        top: 30px;
    }

    .category_displayer .notactive .tag {
        display: none;
    }

    .category_displayer li{
        margin:1px;
    }

    .category_displayer li.active .category_item {
        width: 32px;
        height: 32px;
    }

    .category_displayer li.active .category_item span {
        font-size: 12pt;
        line-height: 24px;
    }

    .category_displayer .category_item {
        width: 24px;
        height: 24px;
    }

    .category_displayer .category_item span {
        font-size: 12px;
        line-height: 14px;
    }
}

span.percent {
    color: #262F31;
}

.criteria_displayer li{
    flex:1;
}

.criteria_displayer{
    padding-bottom:10px;
}
