@model X.PagedList.IPagedList<RodlisteNaturtyper.Data.Models.Assessment>

<div class="pagination-wrapper">
    <div class="pagination-part">
        @Html.PagedListPager(Model, page => Context.Request.QueryString.AddParameters(new { Page = page }), new PagedListRenderOptions
        {
            PageClasses = ["page-link"],
            UlElementClasses = ["pagination"],
            LiElementClasses = ["page-item"],
            LinkToPreviousPageFormat = "<span class='material-icons'>keyboard_arrow_left</span><span class='paginator-link-text'> Forrige </span>",
            LinkToNextPageFormat = "<span class='paginator-link-text'> Neste </span><span class='material-icons'>keyboard_arrow_right</span>",
            PageCountAndCurrentLocationFormat = "Side {0} av {1}",
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
            MaximumPageNumbersToDisplay = 5
        })
    </div>
</div>