:root {
  --background-redlist-ne: var(--surface-primary);
  --background-redlist-na: var(--surface-primary);
  --background-redlist-lc: #61A360;
  --background-redlist-dd: #6C6C6C;
  --background-redlist-nt: #E6C000;
  --background-redlist-vu: #EB8107;
  --background-redlist-en: #F34F39;
  --background-redlist-cr: #D61900;
  --background-redlist-re: var(--surface-invert);
  --background-redlist-ew: #939599;
  --background-redlist-ex: #939599;

  --border-redlist-ne: #262F31;
  --border-redlist-na: #939599;
  --border-redlist-lc: #61A360;
  --border-redlist-dd: #6C6C6C;
  --border-redlist-nt: #E6C000;
  --border-redlist-vu: #EB8107;
  --border-redlist-en: #F34F39;
  --border-redlist-cr: #D61900;
  --border-redlist-re: #595b5d;
  --border-redlist-ew: #939599;
  --border-redlist-ex: #939599;

  --text-redlist-ne: var(--text-primary);
  --text-redlist-na: var(--text-primary);
  --text-redlist-lc: var(--text-invert);
  --text-redlist-dd: var(--text-invert);
  --text-redlist-nt: var(--text-invert);
  --text-redlist-vu: var(--text-invert);
  --text-redlist-en: var(--text-invert);
  --text-redlist-cr: var(--text-invert);
  --text-redlist-re: var(--text-invert);
  --text-redlist-ew: var(--text-invert);
  --text-redlist-ex: var(--text-invert);

  // Alien list:
  --background-alien-list-nr: var(--surface-primary);
  --border-alien-list-nr: #939599;
  --text-alien-list-nr: var(--text-primary);

  --background-alien-list-nk: #94A360;
  --border-alien-list-nk: #94A360;
  --text-alien-list-nk: var(--text-primary);

  --background-alien-list-lo: #5C9C94;
  --border-alien-list-lo: #5C9C94;
  --text-alien-list-lo: var(--text-invert);

  --background-alien-list-ph: #296473;
  --border-alien-list-ph: #296473;
  --text-alien-list-ph: var(--text-invert);

  --background-alien-list-hi: #2E4073;
  --border-alien-list-hi: #2E4073;
  --text-alien-list-hi: var(--text-invert);

  --background-alien-list-se: #4F1052;
  --border-alien-list-se: #4F1052;
  --text-alien-list-se: var(--text-invert);

}

