:root {
    --dimensions-0: 0;
    --dimensions-half-base: 0.125rem;
    --dimensions-base: 0.25rem;
    --dimensions-1_5x: calc(var(--dimensions-base) * 0.5);
    --dimensions-2x: calc(var(--dimensions-base) * 2);
    --dimensions-3x: calc(var(--dimensions-base) * 3);
    --dimensions-4x: calc(var(--dimensions-base) * 4);
    --dimensions-5x: calc(var(--dimensions-base) * 5);
    --dimensions-6x: calc(var(--dimensions-base) * 6);
    --dimensions-7x: calc(var(--dimensions-base) * 7);
    --dimensions-8x: calc(var(--dimensions-base) * 8);
    --dimensions-9x: calc(var(--dimensions-base) * 9);
    --dimensions-10x: calc(var(--dimensions-base) * 10);
    --dimensions-11x: calc(var(--dimensions-base) * 11);
    --dimensions-12x: calc(var(--dimensions-base) * 12);
    --dimensions-13x: calc(var(--dimensions-base) * 13);
    --dimensions-14x: calc(var(--dimensions-base) * 14);
    --dimensions-16x: calc(var(--dimensions-base) * 16);
    --dimensions-18x: calc(var(--dimensions-base) * 18);
    --dimensions-20x: calc(var(--dimensions-base) * 20);
    --dimensions-22x: calc(var(--dimensions-base) * 22);
    --dimensions-24x: calc(var(--dimensions-base) * 24);
    --dimensions-26x: calc(var(--dimensions-base) * 26);
    --dimensions-30x: calc(var(--dimensions-base) * 30);
    --dimensions-32x: calc(var(--dimensions-base) * 32);
    --dimensions-90x: calc(var(--dimensions-base) * 90);
}