@mixin link-facet {
  border-radius: 25px;
  border: 2px solid var(--border-accent);
  background-color: var(--surface-primary);
  padding: var(--spacing-sm) var(--spacing);
  margin-right: var(--spacing);
  margin-bottom: var(--spacing-sm);
  a {
    border-bottom: none;
    font-size: var(--font-size-5);
    color: var(--text-accent);
    &:hover {
      box-shadow: none;
    }
  }
  &:has(.bef-link--selected) {
    background-color: var(--surface-accent);
    a {
      color: var(--text-invert);
    }
  }
}

@mixin button-expander() {
  background-image: url(/images/icons-adb/accordion_closed.svg);
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-color: var(--surface-primary);
  padding: var(--spacing-2xsm) var(--spacing);
  padding-left: var(--spacing-lg);
  border: solid 2px var(--border-accent);
  color: var(--text-accent);
  border-radius: 50px;
  min-width: 150px;
  text-align: left;
  cursor: pointer;

  &.is-expanded {
    background-image: url(/images/icons-adb/accordion_open.svg);
  }
}

@mixin button($type: secondary) {
  display: flex;
  padding: var(--spacing-xsm) var(--spacing-xsm);
  align-items: center;
  gap: var(--spacing-xsm);
  border-radius: var(--radius-3xl);
  border: 2px solid var(--border-accent);
  background: var(--surface-primary);
  color: var(--text-accent);
  font-size: var(--font-size-3);
  line-height: 1em;
  cursor: pointer;

  @if $type == secondary {

  }

  @if $type == tertiary {
    background: var(--surface-subtle);
    border-color: var(--surface-subtle);
  }

  &:hover {
    box-shadow: inset 0 0 0 2px var(--border-accent);
    background-color: var(--surface-primary);
    border-color: var(--border-accent);

    @if $type == tertiary {
      color: var(--text-hover);
      background: var(--surface-subtle-hover);
      border-color: var(--surface-subtle-hover);
      box-shadow: none;
    }
  }

  &:focus {
    color: var(--text-invert);
    outline: none;
    border-color: var(--border-accent);
    background: var(--surface-accent);

    @if $type == tertiary {
      color: var(--text-hover);
      background: var(--surface-subtle-active);
      border-color: var(--surface-subtle-active);
    }
  }
}

@mixin expandable-section-button($type: secondary) {
  @include button($type);

  position: absolute;
  bottom: -18px;
  padding: calc(var(--spacing-2xsm) * 1.5) calc(var(--spacing-xsm) * 1.5);
  gap: var(--spacing-2xsm);

  &::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: currentColor;
    -webkit-mask: url('/svg/unfold-more.svg') no-repeat center / contain;
    mask: url('/svg/unfold-more.svg') no-repeat center / contain;
  }

  &[aria-expanded="true"] {
    &::before {
      -webkit-mask: url('/svg/unfold-less.svg') no-repeat center / contain;
      mask: url('/svg/unfold-less.svg') no-repeat center / contain;
    }
  }
}

// @NOTE Trengte denne uten absolutt posisjonering.
@mixin expandable-section-button2($type: secondary) {
  @include button($type);

  padding: calc(var(--spacing-2xsm) * 1.5) calc(var(--spacing-xsm) * 1.5);
  gap: var(--spacing-2xsm);

  &::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: currentColor;
    -webkit-mask: url('/svg/unfold-more.svg') no-repeat center / contain;
    mask: url('/svg/unfold-more.svg') no-repeat center / contain;
  }

  &[aria-expanded="true"] {
    &::before {
      -webkit-mask: url('/svg/unfold-less.svg') no-repeat center / contain;
      mask: url('/svg/unfold-less.svg') no-repeat center / contain;
    }
  }
}

@mixin icon-button($icon: grid, $type: secondary) {
  padding: calc(var(--spacing-2xsm) * 1.5) calc(var(--spacing-xsm) * 1.5);
  gap: var(--spacing-2xsm);

  &::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: currentColor;
    -webkit-mask: url('/svg/#{$icon}.svg') no-repeat center / contain;
    mask: url('/svg/#{$icon}.svg') no-repeat center / contain;
  }
}
