@use "../globals/functions" as *;
@use "../globals/media" as *;
@use "../globals/typo_mixins" as *;
@use "../globals/mixins" as *;
@use "../components/header-toggler" as *;
@use "../components/mega-menu" as *;


.logomark {
  color: var(--surface-invert);
}

.body-header {
  background-color: var(--background-default);
  border-bottom: solid 1px var(--border-primary);
  position: relative;
  z-index: 11;

  &__top {
    display: flex;
    align-items: center;
    display: flex;
    gap: var(--spacing-xl);
    padding: var(--spacing-none) var(--spacing-sm);
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;

    @media #{$media-lg-up} {
      min-height: rem(80);
      padding: var(--spacing-none) var(--spacing-md);
    }
  }

  &__logo {
    padding: rem(8);
    border-radius: var(--radius-md);
    border: 4px solid transparent;
    flex-shrink: 0;

    &:focus {
      outline: none;
      border-color: var(--focus-outer);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    @media #{$media-desktop} {
      justify-content: space-between;
    }

    ul:not(.contextual-links) {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;

      @media #{$media-lg-up} {
        display: flex;
      }
    }

    li {
      padding: 0;
    }


    .menu-item a {
      @include base-menu-link();
    }

    &__interaction {
      display: flex;
      gap: var(--spacing-xsm)
    }
  }

  &__theme-and-search {
    display: flex;
    gap: var(--spacing-xsm);

    .menu-open & {
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 11;
      top: calc(100% + 1rem);
      left: var(--spacing-md);
      right: var(--spacing-md);

      @media #{$media-lg-up} {
        position: static;
      }
    }
  }

  &__theme-switcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: var(--spacing-2xsm);
  }
}

.theme-switcher {
  @include button-preset();

  padding: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: var(--spacing-2xsm);
  display: none;
  color: var(--surface-accent);

  @media #{$media-lg-up} {
    display: flex;
  }

  svg {
    display: block;
  }

  &::after {
    content: none;
  }

  &:hover {
    border-color: var(--surface-hover);
  }

  &:focus {
    background-color: var(--surface-hover);
    border-color: var(--surface-hover);
    color: var(--text-invert);
    outline: none;
  }

  .if-active {
    display: none;
  }

  .if-inactive {
    display: block;
  }

  &[aria-pressed="true"] {
    .if-active {
      display: block;
    }

    .if-inactive {
      display: none;
    }
  }

  .menu-open & {
    display: flex;
    
    @media #{$media-lg-up} {
      position: static;
    }
  }
}

.header-search {
  display: none;

  .menu-open & {
    display: flex;
    justify-content: center;
    min-height: 3.125rem;
    align-items: center;

    @media #{$media-md-up} {
      position: static;
    }
  }

  @media #{$media-md-up} {
    display: flex;
    position: static;
    align-items: center;
  }

  .hidden {
    display: none !important;
  }

  .form--inline {
    display: flex;
    align-items: center;
  }

  div {
    margin: 0 !important;
  }

  & > div {
    @media #{$media-lg-up} {
      max-width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .form-item {
    &:focus-within {
      padding: 4px 4px 4px 0;
    }
  }

  input {
    width: 100%;
    max-width: 14.5rem;

    @media #{$media-2xl-up} {
      width: 17.75rem;
    }
  }

  .search-submit {
    &:hover {
      color: var(--text-invert);

      @media #{$media-lg-up} {
        color: var(--text-accent);
      }
    }
  }
}
