.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #3d3b3a;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    font-size: 10pt;
    background-color: #fff9f0;
}

.dark-theme .autocomplete-items {
    border-color: #8c8c8c;
    
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff9f0;
    border-bottom: 1px solid #d4d4d4;
    z-index: 99;
}

.dark-theme .autocomplete-items div {
    background: #262f31;
}

.autocomplete-items div:hover {
    background-color: lightgray;
}

.dark-theme .autocomplete-items div:hover {
    color: black;
}
