.criteria-matrix { padding-top: 5px }

.criteria-matrix table { border-spacing: 2px }

.criteria-matrix .legend {
    color: black;
    font-weight: normal;
    font-size: smaller;
    text-align: end;
}

.dark-theme .criteria-matrix .legend {
    color: white;
}

.criteria-matrix .horizontal-legend {
    text-align: center;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-weight: normal;
    font-size: smaller;
}

.criteria-matrix .selected {
    box-sizing: border-box;
    border: 5px solid yellow;
}

.criteria-matrix table th {
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
}

.criteria-matrix .cr { background: #99191a }

.criteria-matrix .en { background: #C4322D }

.criteria-matrix .vu { background: #E86037 }

.criteria-matrix .nt { background: #E17734 }

.sankey-node-text {
    fill: black;
}

.dark-theme .sankey-node-text {
    fill: white;
}

.sankey-link {
    mix-blend-mode: multiply;
    stroke: #ccc;
}

.dark-theme .sankey-link {
    mix-blend-mode: soft-light;
    stroke: white;
}

.sankey-link:hover {
    stroke-opacity: 1
}


/* 'Midlertidige' klasser for å unngå å rote til for de andre listene, kan på kort sikt vurdere å ha dette i en egen css-fil. Splitte opp i rln-detail og rln-list eller noe slikt? */
.rln-list-header {
    grid-template-columns: 1fr 4fr 1fr;
}

.rln-list-row > a {
    grid-template-columns: 1fr 4fr 1fr !important;
}

.rln-list-row:nth-child(even) {
    background-color: var(--background-subtle);
}

.rln-list-row > a:hover {
    background-color: var(--surface-secondary);
}

.rln-list-header span:last-child {
    text-align: left;
}

.rln-category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rln-category-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.rln-category-tag-label {
    font-size: 14px;
    line-height: 32px;
}

.rln-category-label {
    padding-left: 10px;
}