h1 + .hr-compact {
    background-color: var(--surface-brand-5b);
}

.hr-compact {
    background-color: var(--surface-brand-1a);
    border: none;
    max-width: 60px;
    margin-left: 0;
    height: 4px;
}

.spacious {
    font-family: var(--font-secondary-family);
}

.rln-assessment-area {
    display: flex;
    align-items: center;
    gap: var(--spacing-2xsm);
    font-size: var(--font-size-3);
}

.intro-card {
    background-color: var(--surface-secondary);
    border-radius: var(--radius-md);
    padding: var(--spacing-lg) var(--spacing-md) var(--spacing-lg) var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    & > p {
           font-size: var(--font-size-5);
           line-height: 172%;
       }
}

.criteria-matrix {
    padding-top: 5px
}

.criteria-matrix table { border-spacing: 2px }

.criteria-matrix .legend {
    color: var(--text-primary);
    font-weight: normal;
    font-size: smaller;
    text-align: end;
}

.criteria-matrix .horizontal-legend {
    text-align: center;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-weight: normal;
    font-size: smaller;
}

.criteria-matrix .selected {
    box-sizing: border-box;
    border: 5px solid var(--text-primary);
}

.criteria-matrix table th {
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
}

.criteria-matrix .cr {
    background: var(--background-redlist-cr);
    color: var(--text-redlist-cr);
}

.criteria-matrix .en {
    background: var(--background-redlist-en);
    color: var(--text-redlist-en);
}

.criteria-matrix .vu {
    background: var(--background-redlist-vu);
    color: var(--text-redlist-vu);
}

.criteria-matrix .nt {
    background: var(--background-redlist-nt);
    color: var(--text-redlist-nt);
}

.node.CO {
    fill: var(--background-redlist-co);
}

.node.CR {
    fill: var(--background-redlist-cr);
}

.node.EN {
    fill: var(--background-redlist-en);
}

.node.VU {
    fill: var(--background-redlist-vu);
}

.node.NT {
    fill: var(--background-redlist-nt);
}

.node.DD {
    fill: var(--background-redlist-dd);
}

.node.LC {
    fill: var(--background-redlist-lc);
}

.node.NA {
    fill: var(--background-redlist-na);
}

.node.NE {
    fill: var(--background-redlist-ne);
}

.sankey-node-text {
    fill: black;
}

.dark-theme .sankey-node-text {
    fill: white;
}

.sankey-link {
    mix-blend-mode: multiply;
    stroke: #ccc;
}

.dark-theme .sankey-link {
    mix-blend-mode: soft-light;
    stroke: white;
}

.sankey-link:hover {
    stroke-opacity: 1
}

/* 'Midlertidige' klasser for å unngå å rote til for de andre listene, kan på kort sikt vurdere å ha dette i en egen css-fil. Splitte opp i rln-detail og rln-list eller noe slikt? */
.applied-variables-container,
.changes-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.rln-list-header {
    grid-template-columns: 2fr 7fr 3fr 2fr;
}

.rln-list-row > a {
    padding: var(--spacing-sm) var(--spacing-none) var(--spacing-sm) var(--spacing-xsm) !important;
    grid-template-columns: 2fr 7fr 3fr 2fr !important;
}

.rln-cell-shortcode {
    font-size: var(--font-size-3);
    color: var(--text-primary);
}

.rln-cell-naturetype {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xsm);
}

.rln-cell-naturetype span:first-child {
    font-size: var(--font-size-6);
    color: var(--text-accent);
    font-weight: 700;
}

.rln-cell-naturetype span:last-child {
    font-size: var(--font-size-5);
    color: var(--text-secondary);
}

.rln-cell-svalbard {
    font-size: var(--font-size-3);
    display: flex;
    align-items: center;
    gap: var(--spacing-2xsm);
    color: var(--text-primary);
}

.rln-map-icon {
    width: 18px;
    height: 18px;
}

.rln-map-icon > path {
    fill: var(--surface-invert);
}

/* Temp. classes for remaking table of contents */

.toc-list {
    margin: var(--spacing-md) 0;
    padding: 0;
}

.toc-list-item {
    min-height: 40px;
    border-left: 4px solid var(--surface-subtle);
    align-content: center;
    &:hover {
        border-left: 4px solid var(--surface-hover);
        background-color: var(--surface-subtle);
    }
    &a {
        min-height: 40px;
    }
}

.toc-list .toc-link {
    text-decoration: none !important;
}

/*.toc-list .toc-link::before {
    background-color: var(--surface-subtle);
    content: "";
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    max-height: 100vh;
    margin-top: 0;
    position: absolute;
    width: 4px;
    text-decoration: none !important;
}


.table-of-contents .toc-link:hover::before {
    background-color: var(--surface-hover);
    box-shadow: none;
}*/