.btn {

  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;

  padding: 8px 16px;
  border-radius: 28px;

  box-shadow: none !important;

  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    background: var(--surface-accent-surface-accent, #005A71);
    color: var(--text-base-text-invert, #FFF);
  }

  &.btn-secondary {
    background-color: var(--surface-primary);
    border: solid 1px var(--border-accent);

    &:hover {
      border-width: 2px;
      padding: 7px 15px;
    }
  }

  &.btn-tertiary {
    background-color: var(--surface-subtle);
    color: var(--text-accent);
    border: solid 1px var(--border-subtle);

    &:hover {
      background-color: var(--surface-subtle-hover);
      color: var(--text-accent);
    }

  }

  &.btn-minimal {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
  }

  &.btn-small {
    font-size: var(--font-size-2);
    padding: var(--spacing-spacing-xsm, 8px) var(--spacing-spacing-sm, 16px);
    border-radius: 18px;

    svg {
      height: 16px;
      margin: 0;
      padding: 0;
      width: 16px;
      margin-left: -7px;
      margin-right: -3px;
    }
  }

  &.btn-medium {
    font-size: var(--font-size-3);
    padding: 6px 16px;
    border-radius: 24px;
  }

  &.btn-download {
    svg path {
      fill: var(--surface-accent);
    }
  }

  &.btn-open-in-full {
    padding: 10px;

    svg {
      width: 10px;
      height: 10px;

      path {
        fill: var(--surface-accent);
      }
    }

    &:hover {
      padding: 10px;
      border-width: 1px;
    }
  }

  &-btn-more {
    border: solid 1px var(--border-accent);
    color: var(--text-accent);
    padding: 5px 15px;

    margin-top: 10px;
    border-radius: 20px;
    font-size: var(--font-size-4);
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    gap: 5px;

    &:hover {
      background-color: var(--background-accent);
      color: var(--text-invert);

      svg {
        stroke: var(--background-light);
      }
    }
  }
}
