@use "../globals/media" as *;
@use "../globals/mixins" as *;

.mega-menu {
  position: absolute;
  top: 100%;
  inset-inline: 0;
  background-color: var(--background-default);
  z-index: 10;
  padding: 7.75rem 0 4.25rem;
  border-bottom: 2px solid var(--border-default);

  @media #{$media-lg-up} {
    padding: 2.125rem 0 4.25rem;
  }

  ul {
    list-style: none;
  }
  
  &__list {
    a {
      @include base-menu-link();
      
      text-decoration: none;
      color: var(--text-primary);
      font-size: var(--font-size-3);
      line-height: 1.6em;
      
      position: relative;
      display: block;
      padding: var(--spacing-sm);

      @media #{$media-xl-up} {
        padding: var(--spacing-sm) var(--spacing-lg);
        font-size: var(--font-size-4);
      }
      
      &::after {
        bottom: -1px;
      }
      
      &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: url(/svg/special-chevron-right-24.svg) no-repeat center center;
        opacity: 0;
      }
    }
    
    &--level-1 {
      max-width: 90rem;
      margin: 0 auto;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      overflow: hidden;
      position: relative;

      @media #{$media-lg-up} {
        grid-template-columns: repeat(3, 1fr);
      }

      &::after {
        content: '';
        width: 1px;
        background-color: var(--background-default);
        height: 100%;
        top: 0;
        position: absolute;
        right: 0;
      }
      
      & > li {
        padding: var(--spacing-md) var(--spacing-md);
        display: grid;
        grid-auto-rows: max-content;
        background-color: var(--background-default);
        max-width: 100vw;
        border-right: 1px solid var(--border-default);

        @media #{$media-lg-up} {
          padding: var(--spacing-md) var(--spacing-sm);
        }
        
        @media #{$media-xl-up} {
          padding: var(--spacing-md) var(--spacing-xl);
        }
        
        & > a {
          font-weight: 700;
          padding: var(--spacing-sm);

          @media #{$media-sm-up} {
            padding: var(--spacing-sm);
          }
          
          @media #{$media-xl-up} {
            padding: var(--spacing-sm) var(--spacing-lg);
          }
        }
      }
    }
    
    &--level-2 {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--spacing-xsm);
      
      @media #{$media-desktop} {
        display: block;
      }
      
      li {
        border-bottom: 1px solid var(--border-default);
      }
    }
  }

  &__extras {
    max-width: 90rem;
    margin: 5rem auto 0;
    padding: 0 var(--spacing-xl);

    li {
      border-bottom: none;
    }

    a {
      @include base-menu-link();

      padding: var(--spacing-2xsm);
      font-size: var(--font-size-3);

      @media #{$media-desktop} {
        font-size: var(--font-size-4);
      }
      
    }
    
    & > li >  a {
      font-weight: 700;
      display: inline-block;
    }
    
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0;
      margin-bottom: 1rem;
    }
  }
}