
.risk-category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2xsm);
    min-width: 110px;
}

.risk-category-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.risk-category-tag-label {
    font-size: 14px;
    line-height: 32px;
    margin: auto;
    display: block;
    text-align: center;
}

.risk-category-label {
    font-size: var(--font-size-3);
    color: var(--text-primary);
}

.risk-category-circle-small {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.risk-category-tag-label-small {
    font-size: 12px;
    line-height: 24px;
    margin: auto;
    display: block;
    text-align: center;
}

.RE {
    background: var(--background-redlist-re);
    color: var(--text-redlist-re);
    border-color: var(--border-redlist-re);
}

.CO {
    background: var(--background-redlist-co);
    color: var(--text-redlist-co);
    border-color: var(--border-redlist-co);
}

.CR {
    background: var(--background-redlist-cr);
    color: var(--text-redlist-cr);
    border-color: var(--border-redlist-cr);
}

.EN {
    background: var(--background-redlist-en);
    color: var(--text-redlist-en);
    border-color: var(--border-redlist-en);
}

.VU {
    background: var(--background-redlist-vu);
    color: var(--text-redlist-vu);
    border-color: var(--border-redlist-vu);
}

.NT {
    background: var(--background-redlist-nt);
    color: var(--text-redlist-nt);
    border-color: var(--border-redlist-nt);
}

.DD {
    background: var(--background-redlist-dd);
    color: var(--text-redlist-dd);
    border-color: var(--border-redlist-dd);
}

.LC {
    background: var(--background-redlist-lc);
    color: var(--text-redlist-lc);
    border-color: var(--border-redlist-lc);
}

.NA {
    background: var(--background-redlist-na);
    color: var(--text-redlist-na);
    border-color: var(--border-redlist-na);
}

.NE {
    background: var(--background-redlist-ne);
    color: var(--text-redlist-ne);
    border-color: var(--border-redlist-ne);
}

.SE {
    background: var(--background-alien-list-se);
    color: var(--text-alien-list-se);
    border-color: var(--border-alien-list-se);
}

.HI {
    background: var(--background-alien-list-hi);
    color: var(--text-alien-list-hi);
    border-color: var(--border-alien-list-hi);
}

.PH {
    background: var(--background-alien-list-ph);
    color: var(--text-alien-list-ph);
    border-color: var(--border-alien-list-ph);
}

.LO {
    background: var(--background-alien-list-lo);
    color: var(--text-alien-list-lo);
    border-color: var(--border-alien-list-lo);
}

.NK {
    background: var(--background-alien-list-nk);
    color: var(--text-alien-list-nk);
    border-color: var(--border-alien-list-nk);
}

.NR {
    background: var(--background-alien-list-nr);
    color: var(--text-alien-list-nr);
    border-color: var(--border-alien-list-nr);
}