
.risk-category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2xsm);
}

.risk-category-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.risk-category-tag-label {
    font-size: 14px;
    line-height: 32px;
    margin: auto;
    display: block;
    text-align: center;
}

.risk-category-label {
    font-size: var(--font-size-3);
    color: var(--text-primary);
}

.risk-category-circle-small {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.risk-category-tag-label-small {
    font-size: 12px;
    line-height: 24px;
    margin: auto;
    display: block;
    text-align: center;
}