@model ControlButtonsViewModel

@{
    string GetViewClass(string element, string value)
    {
        if (string.IsNullOrEmpty(element) && value == "list")
        {
            return "class=active";
        }

        return element == value ? "class=active" : string.Empty;
    }
}

<button id="list_view_button" @GetViewClass(Model.View, "list") type="submit" name="View" value="list">
    <span class="material-icons">list</span> Liste
</button>

<button id="stat_view_button" @GetViewClass(Model.View, "stat") type="submit" name="View" value="stat">
    <span class="material-icons">bar_chart</span> Figurer
</button>
