<!DOCTYPE html>
<html lang="nb" class="light-theme">
    
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Artsdatabanken</title>
	<link rel="icon" href="~/favicon.ico" />
	<link rel="stylesheet" href="~/css/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/site.css">
	<link rel="stylesheet" href="~/css/bnw.css">
	<link rel="stylesheet" href="~/css/buttons-and-chips.css">
	<link rel="stylesheet" href="~/css/accordions.css">
	@await RenderSectionAsync("Styles", required: false)
	<link rel="stylesheet" href="~/css/styles.css">
	<environment exclude="Development">
		<script id="CookieConsent" src="https://policy.app.cookieinformation.com/uc.js" data-culture="NB" data-gcm-version="2.0" type="text/javascript"></script>
	</environment>
</head>

<body>
	<a href="#main-content" class="visually-hidden focusable">
		Hopp til hovedinnhold
	</a>
	<partial name="_LayoutHeader" />
	<div id="main-content" class="main">
		<div class="main-content width-adjuster">
			@await RenderSectionAsync("Breadcrumb", required: false)
			<div class="pagecontainer">
				@await RenderSectionAsync("PageMenu", required: false)
				@RenderBody()
			</div>
		</div>
	</div>
	<partial name="_LayoutFooter" />
	<div class="body-overlay"></div>
	<script src="~/js/menuToggle.js"></script>
	<script src="~/js/themeToggle.js"></script>
	<script src="~/js/site.js"></script>
	<script src="~/js/filter.js" async></script>
	<script src="~/js/accordions.js" async></script>
	<script src="~/js/toggleSwitch.js" async></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>