@using Assessments.Web.Models.AlienSpecies
@using Assessments.Web.Views.AlienSpecies._2023

@inject IStringLocalizer<AlienSpeciesIndex> Localizer

@model AlienSpeciesListViewModel

@{
    Layout = "~/Views/AlienSpecies/_Layout.cshtml";
    ViewBag.Title = Localizer["list_title_year"];

    var breadcrumbs = new Dictionary<string, string>
    {
        { "Arter", "https://artsdatabanken.no/arter" },
        { ViewBag.Title, string.Empty }
    };

    var citationViewModel = new CitationForListViewModel(Constants.AlienSpecies2023CitationString);    
}

<div class="layout-container" style="--hero-bg-color: var(--hero-bg-brand_2); --hero-icon-color: var(--hero-bg-brand_2-icon-color);">
	<partial name="_Breadcrumb" model="breadcrumbs" />
	<div id="main-content" class="main">
		<div class="page-hero-container has-illustration">
			<div class="inner-container">
				<div class="hero-text">
					<h1>
						@Localizer["list_title_year"]
					</h1>
					<span class="byline">
						@Constants.AlienSpecies2023HeaderByline
					</span>
					<hr class="hero-hr" aria-hidden="true">
					<p>
						@Localizer["intro"]
					</p>
					<div class="wp-block-text-adb-shortcut-link">
						<a href="https://artsdatabanken.no/naturtyper/rodlista-naturtyper/om-norsk-rodliste-naturtyper">
							Om Fremmedartslista
						</a>
					</div>
				</div>
				<div class="hero-icon" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" width="160" height="161" viewBox="0 0 160 161" fill="none">
						<g fill="currentColor">
							<path d="M118.906 124.512C118.906 124.512 118.974 124.409 119.009 124.34C117.423 132.123 127.214 131.882 130.007 130.849C139.384 128.611 136.247 110.909 136.247 110.909C136.247 110.909 127.559 115.386 123.249 118.004C122.974 118.176 122.698 118.348 122.456 118.486C121.595 119.037 121.043 119.416 120.94 119.622C120.94 119.657 120.905 119.691 120.871 119.725C120.698 119.863 120.56 119.967 120.388 120.104L121.767 115.903C121.767 115.903 124.87 111.495 127.249 109.153C130.558 102.162 132.351 97.1684 132.351 97.1684C132.903 95.0677 133.592 92.3471 134.316 89.351C135.764 89.4198 137.384 89.1788 138.798 88.2834C139.177 88.0423 139.522 87.7668 139.901 87.4224C141.314 86.0449 142.383 83.772 142.693 80.0871C142.693 79.8805 142.728 79.7083 142.762 79.5016C142.9 77.4353 142.762 74.9558 142.383 71.9941C142.383 71.9941 140.315 72.8551 137.832 74.3703C139.108 68.8258 140.039 64.6243 140.039 64.6243C139.591 61.6282 140.659 55.7737 142.142 49.6093C144.762 50.4358 146.624 49.6437 146.624 49.6437C156.001 46.9575 154.415 37.0393 153.76 34.2842C153.76 34.2842 153.14 34.1809 152.243 34.1809C151.416 34.1809 150.313 34.1809 149.209 34.4564C149.209 34.4564 149.209 34.4564 149.175 34.4564C148.21 34.6631 147.279 35.0763 146.486 35.7306C146.176 35.9717 145.9 36.2817 145.658 36.626V36.6949H145.589C145.417 36.9704 144.831 37.7281 144.865 37.1426C144.865 36.9016 144.9 36.626 144.969 36.3505C145.176 35.2141 145.796 34.0776 146.658 33.01C147.348 32.1146 148.244 31.2537 149.175 30.4272C150.761 19.1314 147.037 11.3139 147.037 11.3139C146.348 9.79867 143.28 3.94417 142.245 3.28984C139.97 1.87787 135.143 0.844727 135.143 0.844727C136.316 6.35484 135.971 15.8942 135.385 23.2985C135.212 23.2985 135.074 23.4018 134.902 23.574C127.8 32.0458 129.731 38.1413 130.351 39.5533C130.627 44.6846 134.35 45.7522 134.35 45.7522C135.971 46.7509 137.281 47.1986 138.35 47.3019C138.35 47.3019 138.66 47.5774 138.798 47.6807C136.764 54.7405 134.488 64.3833 134.488 64.3833C134.799 66.4151 133.316 73.3027 131.868 79.3294C130.007 81.5679 128.938 84.2541 129.834 87.1814C129.489 88.4556 129.248 89.2477 129.214 89.3854C129.145 89.5576 129.11 89.7298 129.041 89.902C130.144 92.0371 130.696 95.3088 128.731 99.9579C128.731 100.027 128.662 100.096 128.628 100.165C128.455 100.509 128.283 100.888 128.11 101.267C128.11 101.267 128.11 100.888 128.041 100.268C127.973 99.2347 127.731 97.5817 127.214 95.9287C127.214 95.8253 127.145 95.6876 127.111 95.5843C127.111 95.5843 127.111 95.5843 127.111 95.6187C122.146 84.3574 115.182 82.2567 115.182 82.2567L111.666 91.1073C113.562 99.3381 120.664 100.612 125.111 100.543C122.043 107.603 119.078 112.356 119.078 112.356C113.424 124.306 107.391 126.854 107.391 126.854C106.667 128.06 105.357 129.781 103.702 131.744C103.84 131.813 103.978 131.882 104.116 131.951C106.115 132.95 107.046 135.257 107.391 137.771C113.527 130.574 119.112 124.547 119.112 124.547L118.906 124.512ZM126.249 126.579L129.627 125.339C129.869 126.648 128.352 129.334 126.249 128.025V126.579ZM140.59 23.574C141.625 24.0905 142.935 25.9846 143.624 27.7065C143.624 27.7065 145.176 30.3238 141.521 31.1848C141.521 31.1848 141.246 31.2537 141.108 31.2537C141.108 31.2537 141.108 30.9782 141.108 30.496C141.108 29.1185 140.797 26.1913 138.798 23.9183C138.798 23.9183 139.556 23.0229 140.59 23.5395V23.574ZM133.764 37.6247C132.11 34.4909 137.488 37.1771 137.488 37.1771C137.591 37.2459 137.729 37.2804 137.832 37.3492C139.074 38.0036 139.591 38.8645 139.763 39.5877C139.901 40.1732 139.832 40.6898 139.763 41.0341C139.694 41.3096 139.591 41.4818 139.591 41.4818C139.591 41.4818 139.418 41.4818 139.108 41.3785C137.97 41.0686 135.109 40.1043 133.799 37.6247H133.764Z" />
							<path d="M142.142 65.5198C142.142 65.5198 147.934 72.4419 155.001 63.5913C155.38 63.1091 157.552 59.2865 157.518 57.2546C157.518 55.9115 155.967 55.395 155.656 55.6016C154.898 56.0837 154.553 58.0467 146.486 59.5276C137.867 61.1117 142.142 65.5542 142.142 65.5542V65.5198Z" />
							<path d="M133.385 59.9062C133.385 59.9062 128.041 48.2317 122.905 47.6807C122.905 47.6807 115.113 57.9088 133.385 59.9062Z" />
							<path d="M128.455 79.7085C123.249 68.1028 113.113 65.0723 113.113 65.0723C110.769 70.5135 112.665 72.0632 114.768 75.8859C123.939 86.5273 128.455 79.7085 128.455 79.7085Z" />
							<path d="M126.249 140.147C126.249 140.147 107.529 145.21 106.805 148.447C104.633 157.918 115.837 157.298 115.837 157.298C130.696 152.442 126.249 140.147 126.249 140.147ZM115.251 154.164C114.217 153.751 111.183 153.682 111.803 151.547C112.424 149.446 117.94 151.684 117.94 151.684C117.94 151.684 118.836 154.68 115.251 154.164Z" />
							<path d="M154.105 84.7017C155.518 82.7732 156.828 77.8485 155.518 78.0896C152.588 78.6406 148.209 79.0539 144.762 79.3638C145.486 81.7056 144.21 85.4249 142.866 88.3522C150.554 90.3496 151.933 87.6634 154.105 84.7362V84.7017Z" />
							<path d="M20.7198 65.3129C20.7198 65.1063 20.7198 64.8308 20.6163 64.452C19.8579 60.9048 20.4095 57.0133 21.2024 53.845C19.8924 50.78 19.0305 48.266 19.0305 46.8196C19.0305 46.8196 11.6528 21.8519 14.859 9.66074L5.55063 3.59961C5.55063 3.59961 2.99946 23.7804 9.06711 45.2354C10.9633 51.9509 15.7898 58.7352 20.7198 65.3474V65.3129Z" />
							<path d="M44.0251 120.724L41.0258 110.909C40.5086 113.01 39.9915 114.009 39.5433 114.422C39.8881 115.972 40.1639 117.384 40.3707 118.623C40.3707 118.623 42.5427 131.262 43.439 143.074C39.8536 140.147 35.8889 138.46 35.8889 138.46C28.8215 135.911 24.9947 126.613 24.9947 126.613L20.5129 131.4C22.4436 138.46 26.2703 140.698 26.2703 140.698C31.9243 142.317 34.9236 143.901 38.4401 146.449C44.232 150.307 43.5769 156.368 43.5769 156.368L43.6459 156.23C43.6459 156.505 43.6114 156.746 43.5769 156.988L51.2649 157.642C51.2649 157.642 51.6442 139.734 49.093 126.062C45.6455 123.066 43.9906 120.69 43.9906 120.69L44.0251 120.724Z" />
							<path d="M41.1636 31.0814C43.0942 32.9755 60.5387 33.1133 60.5387 33.1133C65.8479 33.561 71.7087 34.2497 75.5355 34.663C65.0205 36.1094 58.8839 41.895 58.8839 41.895C56.1948 44.5812 54.6779 51.0556 54.6779 51.0556C57.7462 51.8132 60.6077 49.7814 61.573 49.1615C64.0897 47.474 72.8464 40.3109 77.3282 36.5915C72.8464 42.756 67.7441 51.1245 68.0543 52.0887C67.6751 58.1843 71.5019 60.4917 71.5019 60.4917C73.398 59.734 77.604 54.3616 77.604 54.3616C79.2933 52.0887 79.8104 41.4129 79.9828 36.1094C81.7755 42.1016 81.6031 53.1219 81.6031 53.1219L88.4982 56.7034C88.4982 56.7034 88.9809 52.0887 89.8427 48.6105C90.5322 45.8898 83.5338 38.4856 80.5689 35.4895L93.5316 39.1744C94.1521 38.2446 96.393 37.8313 96.393 37.8313C99.8406 38.1068 100.047 39.381 99.5648 40.4142C102.426 40.5864 107.115 40.6208 108.494 39.2088L110.493 37.2114C110.493 37.2114 110.528 37.1425 110.493 37.1081C110.08 36.5571 106.598 31.9424 100.875 30.0138C100.634 30.0138 90.1185 29.0151 84.0509 31.5291C84.0509 31.5291 83.12 32.0801 82.9821 32.149C82.9821 32.149 83.0856 31.9768 83.3959 31.7013C89.6014 25.9846 97.8755 16.3418 98.8408 15.2398C101.909 11.6582 95.7725 0.46582 95.7725 0.46582C90.153 3.01425 83.5337 12.1748 83.5337 12.1748C82.0858 17.7194 80.8792 24.4348 80.0862 29.1529C79.5691 23.4706 77.535 11.4172 77.535 11.4172L65.6755 2.01554L62.6072 12.7258C63.5036 19.9923 69.1575 26.2601 73.6049 30.1516C66.1582 25.8124 55.988 22.403 55.988 22.403C43.2321 20.3711 41.1981 31.0814 41.1981 31.0814H41.1636ZM68.468 14.9988L68.0888 9.66083L71.1571 14.2411C73.4325 16.1697 78.1901 29.3939 77.6729 28.3952C74.9839 23.4361 68.5025 15.0332 68.5025 15.0332L68.468 14.9988Z" />
							<path d="M55.3329 41.4821C56.5051 40.6556 58.4702 40.0357 57.5738 38.8992L55.919 36.4541C52.7473 37.1429 47.7829 41.5854 42.6805 46.4067C38.4745 50.4016 36.5784 54.603 36.5784 54.603L41.1636 58.4601C44.094 50.436 50.9891 44.5471 55.3329 41.4821Z" />
							<path d="M41.4739 86.9749C41.4739 86.9749 60.1595 106.742 61.9867 108.74C63.8828 110.841 66.9511 112.494 69.8816 113.699C74.1565 115.49 78.2246 116.42 78.2246 116.42C80.7758 113.01 72.6741 99.3382 72.6741 99.3382C71.4674 98.1329 69.5713 96.8931 67.2959 95.7566C57.7118 90.8664 41.4739 86.9404 41.4739 86.9404V86.9749ZM69.3989 101.577C72.1224 104.986 74.2254 108.946 74.6391 109.566C74.7081 109.635 74.0186 109.739 74.0186 109.739L70.7779 106.777L65.4687 101.921L45.2662 89.42C48.7826 89.7299 63.3312 96.2387 64.7103 97.203C66.3306 98.1329 67.9165 99.7514 69.3644 101.542L69.3989 101.577Z" />
							<path d="M71.8121 79.2955C71.8121 79.2955 67.5027 79.7776 61.7798 80.8108C55.6432 81.9473 47.8518 83.8069 41.991 86.4931C41.991 86.4931 57.298 88.7316 65.4342 90.7634C67.3303 91.2456 68.8128 91.6933 69.6746 92.1065C69.6746 92.1065 88.6361 94.7583 91.9112 92.5198C91.9112 92.5198 82.8787 76.7815 71.8121 79.2611V79.2955ZM65.1929 85.9076C65.1929 85.9076 65.1929 84.2891 69.9849 83.9791C70.9502 83.9102 74.777 85.5633 74.777 86.8719C74.4667 86.8719 70.6055 85.9076 65.1584 85.9076H65.1929Z" />
							<path d="M41.1291 86.8715C41.1291 86.8715 41.0601 86.8026 41.0256 86.7682C41.0256 86.7682 41.0256 86.7337 40.9912 86.6993C40.9912 86.6993 41.0256 86.6304 41.0601 86.596C44.9558 84.082 53.5057 80.6726 59.4699 78.4341C63.2278 77.0221 65.9858 76.0579 65.9858 76.0579L76.9489 68.4126C76.9489 68.4126 74.777 66.0708 64.331 68.8947C61.3316 69.6868 58.022 71.6498 54.7468 74.026C49.4376 77.8831 44.3698 82.8766 41.4738 85.9072C43.9905 81.6369 49.4031 74.7148 51.9888 71.4776C52.8852 70.3756 53.4368 69.6868 53.4368 69.6868C55.7121 67.8271 56.4361 59.9408 56.4361 59.9408C54.8847 57.289 48.0241 60.8017 48.0241 60.8017C47.2312 61.6283 46.3348 63.3502 45.473 65.5542C43.37 70.8233 41.2325 78.7096 40.1293 83.221C40.1982 77.1255 38.0608 61.9038 34.1995 58.3911C32.9239 56.6691 25.6496 53.2598 25.6496 53.2598C25.6496 53.2598 24.9946 57.8745 24.6154 60.9739C24.4775 62.1793 24.3741 63.1435 24.3741 63.5224L29.9246 70.7888L30.0625 70.9955V71.0643L35.0614 79.3295L39.5777 85.4939C39.5777 85.4939 39.5432 85.6661 39.5087 85.735C39.4398 85.735 39.4053 85.735 39.3364 85.735C38.9571 85.2873 37.785 83.8753 36.0957 81.9812C32.9929 78.503 28.3042 73.4406 24.2706 70.1689C22.7882 68.9636 21.4092 67.9993 20.2715 67.4483C19.5475 67.1039 18.8925 66.9317 18.3754 66.9317C17.0998 66.9317 6.82612 66.9317 2.96488 64.3833C2.96488 64.3833 5.51605 77.6076 12.7903 78.0553C12.7903 78.0553 18.3064 79.7772 24.3741 81.7746C26.4771 82.4634 28.649 83.1866 30.683 83.8753C32.0965 84.3575 33.4411 84.8396 34.6132 85.2873C33.4755 85.0463 32.2 84.7707 30.8899 84.5297C28.9938 84.1853 26.9597 83.8409 24.8912 83.5654C19.4786 82.8766 13.928 82.7389 10.2392 84.0131C9.79099 84.1853 9.34281 84.3575 8.92911 84.5641L11.1011 88.2834C11.1011 88.2834 6.92954 88.9722 4.58522 87.9735C0.379229 93.0015 0 100.234 0 100.234L11.1011 92.5538C11.1011 92.5538 18.7546 90.4531 26.4081 88.7311C27.8216 88.4212 29.2696 88.1113 30.6486 87.8357C29.3385 88.3523 27.994 88.9722 26.6839 89.5921C17.0308 94.2757 7.72247 101.508 7.72247 101.508C7.72247 101.508 0.0344753 106.639 0.0344753 115.18C0.0344753 124.237 0.0344753 129.265 2.17195 129.265C4.30942 129.265 15.4449 112.597 15.4449 112.597C16.1 111.701 22.8916 104.366 29.2006 97.5818C30.7175 95.9287 32.2344 94.3101 33.6134 92.8293C35.2338 91.0729 36.7162 89.5232 37.8194 88.2834C38.2676 87.8013 38.6813 87.3536 39.0261 86.9748C39.3364 87.1125 39.5432 87.2503 39.7156 87.3536C39.2329 87.9735 38.6813 88.6278 38.0952 89.3855C36.8886 90.9007 35.5096 92.6227 34.0961 94.4479C32.7171 96.1698 31.2691 97.995 29.8901 99.7514C25.4083 105.399 21.4092 110.427 21.4092 110.427C20.1336 120.242 28.2698 125.821 28.2698 125.821C28.2008 128.611 34.303 118.348 37.3023 113.01C37.9229 111.908 38.4055 111.047 38.6813 110.496C38.8192 110.221 38.9226 110.048 38.9226 110.014C39.3364 108.533 39.8535 102.61 40.3017 96.9963C40.5085 94.3101 40.6809 91.6928 40.8188 89.661C41.9565 95.3433 43.6458 104.504 43.6458 104.504L46.1969 115.593C50.0237 123.273 58.1599 127.543 58.1599 127.543L58.8149 128.06L62.4348 130.952C62.6072 129.782 62.7451 128.645 62.8141 127.543C63.4001 118.141 60.2974 111.288 60.2974 111.288C58.1599 106.673 45.4385 91.7617 41.1635 86.837L41.1291 86.8715ZM35.3717 65.4165C33.1308 65.4165 32.4758 66.3807 31.5105 65.1065C30.5451 63.8323 32.786 61.5938 32.786 61.5938C32.786 61.5938 37.5781 65.4509 35.3372 65.4509L35.3717 65.4165ZM28.2008 94.5856C27.2355 95.3433 26.0978 96.342 25.6496 97.2029L22.6503 96.342C22.6503 96.342 25.2359 94.0002 27.7871 93.3803C28.5111 93.2081 29.2351 93.1737 29.8901 93.3803C29.8901 93.3803 29.0972 93.8969 28.1663 94.5856H28.2008ZM35.8543 100.475C35.0614 102.989 33.9237 106.398 33.3032 108.877C32.9929 110.186 32.8205 111.254 32.8895 111.77L29.8901 112.184C29.8901 112.184 30.8209 108.774 31.6484 105.503C32.2 103.333 32.7171 101.232 32.855 100.234L35.1993 98.4083L36.7162 97.2374C36.7162 97.6162 36.337 98.856 35.8199 100.475H35.8543ZM58.4357 123.651C52.9886 113.079 48.1965 104.814 48.1965 104.814L49.4721 100.647C52.2991 103.161 59.1941 123.376 59.401 123.996C59.0907 123.583 58.677 124.134 58.4357 123.651Z" />
							<path d="M132.247 103.092L137.591 106.984C152.14 108.12 148.003 95.6191 148.003 95.6191C139.384 93.7595 132.247 103.092 132.247 103.092Z" />
							<path d="M108.184 121.654C108.184 121.654 114.251 120.174 111.907 106.502L107.253 100.303C100.703 102.954 96.1518 106.88 98.7719 114.216C98.7719 114.216 104.633 121.276 108.218 121.689L108.184 121.654Z" />
							<path d="M101.737 133.81C101.737 133.81 101.564 133.983 101.495 134.086C100.771 133.087 99.8061 131.985 98.5995 130.883L92.4973 128.369C92.4973 128.369 85.361 134.568 91.0494 145.347C84.0854 152.614 77.604 158.985 77.604 158.985L91.7044 159.226C92.4284 156.953 94.8761 153.234 98.0479 149.067C99.5993 149.411 101.082 149.411 102.185 148.653C103.219 146.759 103.529 144.486 103.46 142.248C103.392 139.527 102.737 136.875 102.185 135.119C102.013 134.602 101.875 134.155 101.771 133.845L101.737 133.81Z" />
							<path d="M152.864 96.6865C152.864 96.6865 152.243 108.568 145.762 108.774C145.762 108.774 152.726 115.318 158.207 106.639C158.207 106.639 158.966 101.611 152.898 96.721L152.864 96.6865Z" />
							<path d="M81.4996 146.484C81.4996 146.484 85.0505 147.07 86.533 144.556C86.533 144.556 84.9471 140.389 85.3263 134.328C85.4298 132.709 81.8788 130.643 82.2236 125.408C82.2236 125.408 73.6047 127.716 72.9152 135.981C72.9152 135.981 70.2951 145.004 81.4996 146.484Z" />
							<path d="M130.179 145.278C130.179 145.278 125.8 157.194 120.974 159.639C120.974 159.639 130.73 162.911 134.73 156.918C134.73 156.918 138.28 150.857 130.179 145.278Z" />
							<path d="M70.3298 138.219C68.4337 139.011 66.7788 140.285 65.124 141.904C62.6763 144.349 62.366 148.137 63.745 151.34C63.8484 151.615 64.3311 152.166 64.4 152.27C70.5367 158.503 77.9144 148.688 77.9144 148.688C71.1917 147.414 70.2953 138.185 70.2953 138.185L70.3298 138.219ZM70.1229 150.169C70.1229 150.169 67.9855 149.515 68.3992 145.244C68.8129 140.974 70.5366 145.899 71.3985 146.966C72.2604 148.034 70.1229 150.169 70.1229 150.169Z" />
							<path d="M136.557 146.76C140.522 149.687 137.832 156.196 137.832 156.196C149.347 164.736 148.968 147.414 148.968 147.414C145.21 146.071 136.557 146.76 136.557 146.76Z" />
							<path d="M99.1164 120.484C99.1164 120.484 91.2905 116.007 95.3586 104.057C95.3586 104.057 88.9462 99.4419 86.8777 110.531C86.8777 110.531 91.2216 122.343 99.1164 120.518V120.484Z" />
							<path d="M140.315 121.31C140.315 121.31 140.211 131.331 134.833 132.158C134.833 132.158 146.451 139.459 153.105 124.547L151.829 121.516C151.829 121.516 145.348 121.378 140.315 121.31Z" />
							<path d="M157.621 83.875C157.621 83.875 156.415 88.6275 154.139 89.0752C154.139 89.0752 159.173 91.658 160 88.6275C160 88.6275 159.345 85.4247 157.621 83.875Z" />
							<path d="M7.68785 148.034L2.55103 149.308L3.41291 156.988L9.41162 156.575C18.8234 155.714 8.99791 149.756 7.68785 148.034Z" />
							<path d="M33.3721 7.14743C33.3721 7.14743 26.2357 1.46512 23.719 5.18445C21.2023 8.90378 23.4087 14.7583 23.4087 14.7583C23.4087 14.7583 39.8534 12.5542 33.3721 7.14743Z" />
							<path d="M41.1981 13.139C41.1981 13.139 48.955 8.59315 43.9561 7.1123C43.9561 7.1123 38.1298 10.9349 41.1981 13.139Z" />
						</g>
					</svg>
				</div>
			</div>
		</div>
		<div class="main-content width-adjuster">
			<div class="pagecontainer">
				<div class="content-placer" style="display: block">
					<div class="mid-content">
						<form id="search_and_filter_form" aps-action="" method="get">
							<partial name="/Views/AlienSpecies/2023/ListPartials/_Search.cshtml" />
							<partial name="/Views/AlienSpecies/2023/ListPartials/_Filters.cshtml" />
						</form>
						<partial name="/Views/Shared/_CitationForList.cshtml" model="citationViewModel"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
