@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = NatureTypesConstants.Title;
    ViewBag.SelectedMenuItem = "Naturtyper";

    // TODO: endre tekst og lenker ved lansering av rødlista for naturtyper 2025
}

@section PageMenu{
    <partial name="/Views/Shared/_PageMenuHistorical.cshtml" />
}

<div class="content-placer bigmid">
    <div class="mid-content">
        <div class="page-header">
            <h1>
                @ViewBag.Title
            </h1>
            <p class="ingress">
                Norsk rødliste for naturtyper er en oversikt over naturtyper som har risiko for å gå tapt fra Norge. Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
            </p>
        </div>
        <div class="mobile_padding">
            <h2>Gjeldende rødliste for naturtyper</h2>
            <p class="page_section">
                Rødlista ble lansert 16. november 2018,  og er den gjeldende rødlista frem til neste revisjon lanseres.
            </p>
            <p>
                <a href="https://artsdatabanken.no/rodlistefornaturtyper" class="button primary">
                    @NatureTypesConstants.Title
                    <span class="material-icons">keyboard_arrow_right</span>
                </a>
            </p>
            <h2>Alle rødlistene for naturtyper</h2>
            <p class="page_section">
                <ul>
                    @*                     
                    <li>
                        <a asp-controller="NatureTypes" asp-action="List" class="button secondary">
                            <span>Rødlista for naturtyper 2025</span>
                            <span class="material-icons bigarrow">keyboard_arrow_right</span>
                        </a>
                    </li> *@
                    <li>
                        <a href="https://artsdatabanken.no/rodlistefornaturtyper" class="button secondary">
                            <span>Rødlista for naturtyper 2018</span>
                            <span class="material-icons bigarrow">keyboard_arrow_right</span>
                        </a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>