@model NatureTypesListViewModel

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = NatureTypesConstants.Title2025;
}

@section Styles {
    <link rel="stylesheet" href="~/css/rln/autocomplete.css">
}

@section Scripts {
    <script src="~/js/rln/autocomplete.js"></script>
}

@section PageMenu {

    <partial name="/Views/Shared/_PageMenu.cshtml" for="PageMenuViewModel" />
}

<div class="content-placer bigmid">
    <div class="mid-content">
        <div class="title_with_image">
            <div class="title_with_header">
                <partial name="/Views/Shared/_Header.cshtml" for="PageHeaderViewModel" />
            </div>
            <div class="mobile_padding">
                <partial name="/Views/Shared/_Introduction.cshtml" for="IntroductionViewModel" />
            </div>
        </div>
        <form id="search_and_filter_form" method="get" autocomplete="off">
            <div class="list-search">
                <label asp-for="Name">
                    <b>Søk i @NatureTypesConstants.Title2025</b>
                </label>
                <div class="searchfield">
                    <div class="searchfield_and_button">
                        <div class="autocomplete" style="width: 100%;">
                            <input asp-for="Name" maxlength="175" />
                        </div>
                        <button class="primary" type="submit">
                            <span class="material-icons">
                                search
                            </span>
                            Søk
                        </button>
                    </div>
                </div>
                <small class="search-help-text">
                    F. eks. "skog", "myr", eller hele/deler av NiN-koden (som "K0" gir semi-naturlige typer)
                </small>
            </div>
            <partial name="Partials/List/_Filters.cshtml" />
        </form>
        <partial name="/Views/Shared/_CitationForList.cshtml" for="CitationForListViewModel" />
    </div>
</div>