@inject IOptions<ApplicationOptions> Options
@model NatureTypesListViewModel

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = NatureTypesConstants.Title2025;
}

@section PageMenu {

    <partial name="/Views/Shared/_PageMenu.cshtml" for="PageMenuViewModel" />
}

<div class="content-placer bigmid">
    <div class="mid-content">
        <div class="title_with_image">
            <div class="title_with_header">
                <partial name="/Views/Shared/_Header.cshtml" for="PageHeaderViewModel" />
            </div>
            <div class="title_with_ingress">
                <partial name="/Views/Shared/_Introduction.cshtml" for="IntroductionViewModel" />
                <environment exclude="Production">
                    <i>data hentes fra @Options.Value.NatureTypes.ODataUrl.Host</i>
                </environment>
            </div>
        </div>
        <form id="search_and_filter_form" method="get">
            <partial name="Partials/_ListSearch.cshtml" />
            <partial name="Partials/_ListFilters.cshtml" />
        </form>
        <partial name="/Views/Shared/_CitationForList.cshtml" for="CitationForListViewModel" />
    </div>
</div>

