@model NatureTypesListViewModel

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = NatureTypesConstants.Title2025;

    var breadcrumbs = new Dictionary<string, string>
    {
        { "Naturtyper", "https://artsdatabanken.no/naturtyper" },
        { ViewBag.Title, Url.Action("List", "NatureTypes") }
    };
}

@section Styles {
    <link rel="stylesheet" href="~/css/rln/autocomplete.css">
}

@section Scripts {
    <script src="~/js/rln/autocomplete.js"></script>
}

<div class="layout-container" style="--hero-bg-color: var(--hero-bg-brand_1); --hero-icon-color: var(--hero-bg-brand_1-icon-color);">
	<partial name="_Breadcrumb" model="breadcrumbs" />
	<div id="main-content" class="main">
		<div class="page-hero-container has-illustration">
			<div class="inner-container">
				<div class="hero-text">
					<h1>
						Norsk rødliste for naturtyper
					</h1>
					<hr class="hero-hr" aria-hidden="true">
					<p>
						Norsk rødliste for naturtyper 2025 viser hvilke naturtyper som har risiko for å gå tapt fra Norge. Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
					</p>
					<div class="wp-block-text-adb-shortcut-link">
						<a href="https://artsdatabanken.no/naturtyper/rodlista-naturtyper/om-norsk-rodliste-naturtyper">
							Om Rødlista for naturtyper
						</a>
					</div>
				</div>
				<div class="hero-icon" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" width="160" height="161" viewBox="0 0 160 161" fill="none">
						<g fill="currentColor">
							<path d="M78.5636 122.25C78.5636 122.25 72.7838 123.595 74.5489 126.251C74.5489 126.251 82.1283 124.906 78.5636 122.25Z" />
							<path d="M22.2538 139.668L26.6493 137.392C27.2722 136.012 27.203 134.84 26.7531 133.839C25.4379 130.873 20.7656 129.597 20.7656 129.597C13.4284 127.804 12.7708 132.839 12.7708 132.839L12.4593 136.737C10.9711 135.805 8.51384 134.391 8.51384 134.391C8.51384 134.391 5.08749 133.77 3.01092 135.736C0.207546 138.358 0.276765 142.048 0.276765 142.048C0.865127 146.463 6.43727 145.842 6.43727 145.842C2.87248 146.739 1.8688 149.601 1.8688 149.601L1.55732 153.499C3.70311 158.086 6.36805 158.465 8.65228 157.569C11.1788 156.568 13.1861 153.982 13.1861 153.982C13.1861 156.603 13.9129 158.121 14.8474 158.983C16.7855 160.707 19.6927 159.673 19.6927 159.673L24.4342 157.224C26.5108 155.465 23.2921 150.395 23.2921 150.395C24.7457 151.291 25.8878 151.602 26.8223 151.567C29.1411 151.567 29.9718 149.567 29.9718 149.567L31.2869 145.325C30.837 142.772 28.5182 139.944 28.5182 139.944L22.3231 139.634L22.2538 139.668ZM5.01827 156.361C2.69943 153.499 7.54477 153.844 7.54477 153.844C11.4557 157.189 5.01827 156.361 5.01827 156.361ZM19.8312 147.463C17.2355 152.395 11.7671 148.498 11.7671 148.498C7.61399 142.29 14.5359 140.91 14.5359 140.91C17.9969 139.875 20.5926 143.842 20.5926 143.842L19.8312 147.463Z" />
							<path d="M72.5069 136.94L65.5158 138.492C69.1152 135.388 66.3118 131.49 66.3118 131.49L60.6358 129.766C60.6358 129.766 56.3788 129.628 55.5828 130.49C53.8523 132.422 55.5136 136.457 55.5136 136.457C53.7139 134.629 51.3258 133.801 49.8376 133.974C46.7228 134.319 44.3347 138.975 44.3347 138.975L44.6462 144.114C45.7537 147.804 51.4643 146.287 51.4643 146.287C49.007 147.597 48.2456 148.563 47.5534 149.356C46.4459 150.632 47.3804 154.737 47.3804 154.737L51.2912 157.841C53.5409 159.117 55.1675 158.531 56.3442 157.393C58.1439 155.565 58.8015 152.323 58.8015 152.323L59.1822 157.668C59.736 159.393 62.2279 159.634 63.1969 160.048C64.9966 160.807 69.1498 158.91 69.1498 158.91C72.5415 155.047 70.8802 151.84 70.8802 151.84L67.2809 148.425C68.3884 148.632 69.7035 149.046 70.9149 149.218C72.3685 149.425 74.3066 148.253 74.3066 148.253C74.3066 148.253 75.6218 144.804 75.4487 142.872C74.9988 137.733 72.5069 136.905 72.5069 136.905V136.94ZM65.6542 145.183L61.6395 149.632L57.1403 149.287C52.3295 145.287 57.9017 140.216 57.9017 140.216C65.8965 137.733 65.6542 145.149 65.6542 145.149V145.183Z" />
							<path d="M119.334 142.669L119.23 138.358C117.396 139.323 116.046 139.875 116.046 139.875C114.627 138.047 114.592 135.253 115.042 132.494C111.374 131.701 108.224 133.839 106.805 137.254L106.597 131.356L98.6718 129.77C98.6718 129.77 90.4693 132.218 92.719 136.737L96.353 140.358C96.0415 140.186 91.2307 137.771 88.3582 142.945V148.084C88.635 149.981 91.0577 151.981 91.0577 151.981L97.2528 150.084C97.2528 150.084 92.4075 154.671 96.7683 157.569L100.679 158.983L106.078 158.293C106.078 158.293 107.186 156.258 107.186 154.465C107.186 154.465 113.277 162.018 116.98 153.844L118.434 149.256C118.434 149.256 116.669 146.221 113.312 145.325C114.038 145.497 118.745 146.497 119.264 142.6L119.334 142.669ZM108.709 147.946C105.974 153.119 99.987 147.739 99.987 147.739C95.6262 141.186 103.863 140.289 103.863 140.289C109.124 139.289 108.916 143.531 108.916 143.531L108.709 147.911V147.946Z" />
							<path d="M155.362 113.662L157.231 94.761C135.669 80.1372 138.3 58.3049 138.3 58.3049C145.499 71.6526 156.574 74.8947 156.574 74.8947L157.889 58.098C131.586 40.6804 134.043 19.9173 134.043 19.9173C134.043 19.9173 144.045 32.7822 146.122 31.2991C148.198 29.816 153.632 23.1594 153.632 23.1594C140.584 16.6752 136.327 2.29282 135.669 1.36159C130.651 0.740765 131.136 1.22363 124.733 0.464844C124.733 0.464844 115.423 18.2618 101.717 22.1937C100.852 22.4351 103.102 29.6091 105.04 33.5409C115.873 32.0579 122.276 21.8833 122.276 21.8833C121.549 52.0967 94.5187 53.4418 94.5187 53.4418L96.1454 67.0999C107.324 67.0999 116.184 58.6153 116.184 58.6153C118.157 81.4478 89.2581 92.5881 89.2581 92.5881L93.342 108.143C110.889 105.66 118.642 90.8291 119.611 86.4489L112.758 123.388L117.915 122.388C119.265 119.49 121.999 119.973 124.387 121.112L129.336 120.146L132.312 85.0003C138.058 104.349 155.328 113.662 155.328 113.662H155.362ZM132.07 64.0648C132.105 63.8233 134.25 65.5823 134.25 65.5823C134.25 65.5823 137.884 80.1027 137.815 82.5515L134.735 83.7242C134.735 83.7242 131.101 69.6522 132.07 64.0303V64.0648Z" />
							<path d="M53.1257 60.0268C53.1257 60.0268 61.5358 70.9257 74.0299 72.2708L78.1138 57.2331C78.1138 57.2331 48.9379 53.0598 51.3606 23.3637C51.3606 23.3637 56.379 34.0212 68.3193 36.7804C70.915 33.1589 74.0299 23.8466 73.0608 23.6741C59.6323 21.2253 49.8724 2.01429 49.8724 2.01429C42.639 1.9798 42.5352 1.94531 36.8246 1.94531C36.0286 2.77308 26.9608 20.0527 12.5287 21.8806C12.5287 21.8806 19.2429 30.6411 21.4233 32.3312C23.6037 34.0212 35.6825 23.5362 35.6825 23.5362C35.6825 23.5362 38.382 42.1264 7.16418 56.0259L6.33355 75.5474C6.33355 75.5474 19.7621 68.8218 28.3798 60.0268C28.1722 60.6131 21.5618 79.9966 3.18408 89.7229L0 108.83C0.0692191 112.141 22.9461 103.691 32.8791 83.1352L31.8408 118.729L50.8414 122.04L49.8378 108.83C48.6264 108.934 47.1728 108.761 47.1728 108.761C44.9578 106.037 48.2803 105.795 49.5955 105.795L48.0727 85.791C48.5918 89.8953 58.5248 106.313 76.4871 107.692L81.4363 94.6894C81.4363 94.6894 48.4534 82.1695 53.0911 60.0268H53.1257ZM34.4019 50.0936C28.5875 49.6108 36.0286 42.8852 36.0286 42.8852C39.8702 44.5752 34.4019 50.0936 34.4019 50.0936Z" />
							<path d="M159.965 143.427C160.104 139.668 157.543 137.185 157.543 137.185C155.535 135.667 153.563 136.46 152.213 137.426C153.078 135.839 152.559 133.805 152.559 133.805L148.406 130.666C138.023 128.39 140.307 137.978 140.307 137.978C134.804 132.494 131.828 138.633 131.828 138.633L130.201 143.6C129.959 146.255 135.704 147.497 135.704 147.497C130.028 148.911 131.585 152.705 131.585 152.705L133.593 156.534C134.043 156.844 134.562 157.12 135.081 157.327C137.331 158.224 139.857 157.81 141.795 156.361L142.211 156.051L143.076 158.672C146.364 162.569 152.005 159.12 152.005 159.12C158.373 155.223 155.12 152.326 155.12 152.326L152.663 149.394C156.747 148.463 159.792 148.256 159.965 143.462V143.427ZM149.375 147.635C148.544 151.153 144.529 150.567 144.529 150.567L140.584 149.015C137.365 144.048 143.768 141.047 143.768 141.047C151.659 141.013 149.409 147.635 149.409 147.635H149.375Z" />
							<path d="M70.1189 119.144C70.1189 119.144 66.1042 112.487 62.9894 114.695C59.8745 116.902 59.8745 122.248 59.8745 122.248C59.8745 122.248 73.6837 125.352 70.1189 119.144Z" />
							<path d="M70.1881 8.88155C70.6727 5.70845 66.208 4.67374 66.208 4.67374C62.7125 3.60455 65.0313 11.5028 65.0313 11.5028C68.5269 9.91625 70.1535 8.88155 70.1535 8.88155H70.1881Z" />
							<path d="M125.91 157.775C130.582 158.43 125.91 151.773 125.91 151.773C122.587 152.429 125.91 157.775 125.91 157.775Z" />
						</g>
					</svg>
				</div>
			</div>
		</div>
		<div class="main-content width-adjuster">
			<div class="pagecontainer">
				<div class="content-placer bigmid" style="display: block">
					<div class="mid-content">
						<form id="search_and_filter_form" method="get" autocomplete="off">
							<div class="list-search">
								<label asp-for="Name">
									<b>Søk i @NatureTypesConstants.Title2025</b>
								</label>
								<div class="searchfield">
									<div class="searchfield_and_button">
										<div class="autocomplete" style="width: 100%;">
											<input asp-for="Name" maxlength="175" />
										</div>
										<button class="primary" type="submit">
											<span class="material-icons">
												search
											</span>
											Søk
										</button>
									</div>
								</div>
								<small class="search-help-text">
									F. eks. "skog", "myr", eller hele/deler av NiN-koden (som "K0" gir semi-naturlige typer)
								</small>
							</div>
							<partial name="Partials/List/_Filters.cshtml" />
						</form>
						<partial name="/Views/Shared/_CitationForList.cshtml" for="CitationForListViewModel" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
