@model NatureTypesListViewModel

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = NatureTypesConstants.Title2025;

    var breadcrumbs = new Dictionary<string, string>
    {
        { "Naturtyper", "https://artsdatabanken.no/naturtyper" },
        { ViewBag.Title, Url.Action("List", "NatureTypes") }
    };
}

@section Styles {
	<link rel="stylesheet" href="~/css/rln/rln.css">
    <link rel="stylesheet" href="~/css/rln/autocomplete.css">
}

@section Scripts {
    <script src="~/js/rln/autocomplete.js"></script>
}

<div class="layout-container" style="--hero-bg-color: var(--hero-bg-brand_1); --hero-icon-color: var(--hero-bg-brand_1-icon-color);">
	<partial name="_Breadcrumb" model="breadcrumbs" />
	<div id="main-content" class="main">
		<partial name="Partials/List/_Hero" />
		<div class="main-content width-adjuster">
			<div class="pagecontainer">
				<div class="content-placer" style="display: block">
					<div class="mid-content">
						<form id="search_and_filter_form" method="get" autocomplete="off">
							<div class="list-search">
								<label asp-for="Name">
									<b>Søk i @NatureTypesConstants.Title2025</b>
								</label>
								<div class="searchfield">
									<div class="searchfield_and_button">
										<div class="autocomplete" style="width: 100%;">
											<input asp-for="Name" maxlength="175" />
										</div>
										<button class="primary" type="submit">
											<span class="material-icons">
												search
											</span>
											Søk
										</button>
									</div>
								</div>
								<small class="search-help-text">
									F. eks. "skog", "myr", eller hele/deler av NiN-koden (som "K0" gir semi-naturlige typer)
								</small>
							</div>
							<partial name="Partials/List/_Filters.cshtml" />
						</form>
						<partial name="/Views/Shared/_CitationForList.cshtml" for="CitationForListViewModel" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
