@using Assessments.Web.Views.NatureTypes.Components.VariableNames
@model VariableNamesModel

<div is-visible="Model.VariableNames.Any()">
    <h3>
        Anvendte variabler
    </h3>
    <div class="applied-variables-container">
        @foreach (var variableName in Model.VariableNames)
        {
            <div>
                <a href=@($"{NatureTypesConstants.NiNHomepage}/{variableName.LongCode}")>
                    @variableName.Name @variableName.ShortCode
                </a>

                <div is-visible="variableName.Steps.Any()">
                    @foreach (var step in variableName.Steps)
                    {
                        <div>
                            @step.Description
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>