@model SpeciesViewModel
@using Assessments.Web.Models.Species

@{
	ViewBag.Title = "Rødlista 2021";
	Layout = "~/Views/Species/_Layout.cshtml";

	var breadcrumbs = new Dictionary<string, string>
	{
		{ "Arter", "https://artsdatabanken.no/arter" },
		{ AssessmentType.RedlistSpecies2021.DisplayName() , Url.Action("Index", "Species") }
	};

	var citationViewModel = new CitationForListViewModel(Constants.RedlistSpecies2021CitationString);
}

<div class="layout-container" style="--hero-bg-color: var(--hero-bg-brand_1); --hero-icon-color: var(--hero-bg-brand_1-icon-color);">
	<partial name="_Breadcrumb" model="breadcrumbs" />
	<div id="main-content" class="main">
		<div class="page-hero-container has-illustration">
			<div class="inner-container">
				<div class="hero-text">
					<h1>
						@Constants.RedlistSpecies2021HeaderText
					</h1>
					<span class="byline">
						@Constants.RedlistSpecies2021HeaderByline
					</span>
					<hr class="hero-hr" aria-hidden="true">
					<p>
						@Constants.RedlistSpecies2021Introduction
					</p>
					<div class="wp-block-text-adb-shortcut-link">
						<a href="https://artsdatabanken.no/arter/rodlista-arter/om-norsk-rodliste-arter">
							Om Rødlista for arter
						</a>
					</div>
				</div>
				<div class="hero-icon" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" width="160" height="161" viewBox="0 0 160 161" fill="none">
						<g fill="currentColor">
							<path d="M143.475 115.949C143.475 115.949 140.39 117.137 136.631 119.094C135.816 119.513 133.085 120.736 132.908 121.015C133.333 120.247 137.801 114.342 138.369 113.573C138.794 112.944 130.957 110.393 126.418 111.022H126.383C126.383 111.022 111.348 110.708 106.773 113.084C107.66 112.594 109.149 111.616 110.816 110.882L110.603 108.541L108.546 107.877C108.546 107.877 100.284 106.549 89.2199 118.36C89.2199 118.325 89.149 118.29 89.149 118.22C84.7164 122.308 80.6383 127.095 80.3547 127.515C75.8156 133.525 72.1277 137.019 69.6454 138.941L67.8015 139.185C68.1206 138.591 68.4043 137.997 68.6171 137.473C69.0426 136.355 69.2554 135.482 69.2554 135.482C68.227 136.984 66.0284 138.801 63.8298 140.408C62.8369 141.107 61.844 141.806 60.993 142.365L60.1419 142.61H60C62.4114 140.304 64.4327 137.299 64.4327 137.299L59.8227 138.312C58.9717 139.5 58.3688 140.513 57.8015 141.212L57.1277 140.548C56.9149 140.338 56.7022 140.129 56.4539 139.919C58.3688 137.299 58.1915 137.124 58.1915 137.124C61.2057 136.46 68.0852 133.315 68.0852 133.315C68.0852 134.328 67.4469 135.866 67.4469 135.866C69.1135 135.202 70.9575 131.848 70.9575 131.848C71.4539 135.167 70.1064 137.823 70.1064 137.823C73.9717 134.189 78.4043 126.641 78.4043 126.641C79.0426 124.859 79.7518 123.287 80.4965 121.819C81.8086 119.268 83.227 117.172 84.6809 115.425C84.6809 115.425 84.8937 115.145 85.0355 115.005C85.0355 114.202 84.9646 113.433 84.8582 112.699C84.6809 111.302 84.3263 109.974 83.9362 108.821C82.9433 105.851 81.6667 103.894 81.6667 103.894C80.6029 102.706 79.7873 101.553 79.2199 100.435C77.5178 97.15 77.6951 94.1799 78.1206 92.2931L78.4043 92.1533L78.8653 91.9087C78.9362 92.2931 79.0426 92.6075 79.1844 92.922C79.61 93.9004 80.1419 94.4944 80.1419 94.4944C78.2979 88.0301 82.1632 76.7788 82.3405 76.2896L83.0142 77.1282C82.9078 77.5125 82.766 77.8969 82.6596 78.2813C80.3192 86.6324 81.7022 93.1666 82.766 96.3813C82.5532 96.8355 82.2695 97.3247 81.9149 97.744C80.7093 97.1151 79.4327 96.4162 79.4327 96.4162C79.6809 97.3247 80.1773 98.2682 80.7447 99.1767C82.1632 101.448 84.149 103.475 84.149 103.475C84.9646 104.593 85.6383 106.375 86.0993 108.122C86.5958 109.904 86.9149 111.651 87.0922 112.769C91.0284 109.135 94.9646 107.668 97.4823 107.109C96.3121 103.195 95.1773 97.5344 95.1773 97.5344C95.071 95.7873 95.1064 93.4112 95.1773 91.5243C95.7447 91.3147 96.9149 90.8954 97.0568 90.7905C97.1632 90.7207 95.7802 89.5676 96.8795 88.2747C97.9078 87.0517 99.8937 83.9069 101.596 81.1465C98.7944 76.2197 95.9575 66.2961 95.9575 66.2961C95.5674 64.1297 91.5249 64.1996 89.9646 64.3394C89.5745 64.3394 89.3263 64.4092 89.3263 64.4092C89.1844 63.3959 88.1915 62.1729 86.9149 60.9849C84.1844 58.3992 80.0355 55.9183 80.0355 55.9183C78.8653 55.6737 77.0568 56.128 77.0568 56.128C75.6029 54.87 74.9291 54.0314 74.9291 54.0314C75.2483 52.5988 84.4327 49.3492 84.4327 49.3492L81.7376 48.5106L82.5532 47.6021C84.1135 48.1961 85.7802 48.8949 86.5603 49.3492V50.677C84.61 50.3276 82.4823 51.1312 81.9504 51.7602C81.6667 52.1096 82.1632 53.2976 82.1632 53.2976C89.3263 53.3675 89.9291 55.9882 89.9291 55.9882C88.3334 55.6737 85.1064 55.8135 85.1064 55.8135C86.5958 56.687 88.7944 57.945 90.2128 58.7836C90.7802 59.133 91.2412 59.3776 91.4894 59.5173C91.5958 59.5872 91.6667 59.6222 91.6667 59.6222C94.0071 61.6139 97.5532 64.8984 97.5532 64.8984C99.0071 66.2262 100.248 67.4841 101.312 68.5674C103.936 71.2579 105.319 73.0399 105.319 73.0399C108.298 78.5259 115.993 77.6872 115.993 77.6872C116.241 77.6872 116.525 77.6872 116.773 77.6872C121.738 77.6872 123.688 73.8786 123.688 73.8786C124.752 72.5508 125.496 70.8386 125.993 69.5108C125.78 69.5108 125.638 69.4409 125.638 69.4409C125.816 69.0565 126.064 68.8469 126.277 68.777C126.596 67.7637 126.773 67.0998 126.773 67.0998C127.943 63.1164 130.284 60.4957 130.284 60.4957C136.489 52.8783 136.879 46.5538 136.879 46.5538C137.305 43.7934 137.411 41.2776 137.234 39.0762C137.234 39.0762 137.27 39.0063 137.305 39.0063L137.199 38.6569L134.894 30.8299C134.716 30.166 134.397 29.537 134.007 28.9779L131.702 25.6235L131.135 24.9246L129.255 22.6185L126.206 20.6268C126.206 20.6268 134.255 18.67 137.801 23.0028C137.801 23.0028 137.27 23.5968 136.773 24.121C136.773 24.121 132.482 23.0727 132.66 23.7715C132.66 23.8065 132.695 23.8764 132.766 23.9463C132.766 23.9463 132.766 23.9463 132.872 24.0511C133.156 24.3656 134.078 25.4138 135.284 27.126C138.05 28.2791 141.773 28.9779 141.773 28.9779C140.248 30.131 138.227 29.7466 136.596 29.1177C137.021 29.7816 137.447 30.5154 137.872 31.319L137.801 38.5521C149.007 26.4621 149.078 22.4787 149.078 22.3739C151.454 17.9362 147.801 12.3804 147.801 12.3804L147.447 14.9312C148.121 9.93447 144.043 6.78968 144.043 6.78968C134.114 8.67655 124.291 16.259 124.291 16.259H121.844C118.83 17.6217 117.234 18.7748 116.525 19.6134C115 19.3688 113.936 19.1941 113.936 19.1941C116.489 12.8696 111.809 5.70647 111.809 5.70647L109.681 4.86786V9.93447C106.277 1.51342 97.6951 0.674805 97.6951 0.674805C93.4398 1.51342 88.2979 10.7731 88.2979 10.7731L86.5958 12.4503C82.0568 17.3073 85.071 27.6501 85.3192 28.4188C84.0071 25.0993 79.7873 25.5187 79.7873 25.5187C84.0426 27.6152 84.1135 33.6252 84.1135 33.6252C84.1135 35.2675 84.9291 34.4289 83.9362 36.1411C82.9788 37.8532 81.7731 40.3691 80.8157 42.5005C78.7234 43.3391 75.3546 44.4223 71.0993 44.7718C71.0993 44.7718 74.7518 46.414 77.0922 45.4357C76.383 45.7851 65.1773 51.4108 59.6809 52.3542C59.6809 52.3542 59.7518 53.1229 60 53.2976C60.6029 53.6471 62.5887 53.2278 63.688 53.3675C63.688 53.3675 44.7518 62.767 35.8156 68.6023C34.4681 69.6156 26.7376 81.4959 25.071 88.1349C23.9362 92.6425 23.5816 98.7923 22.3759 104.383C22.3759 108.331 22.5887 123.811 25.461 130.066C25.461 130.066 25 131.114 24.7518 131.708C24.7518 131.708 19.0071 128.668 19.0071 121.225C19.0071 121.225 17.305 123.531 19.0071 128.668C19.0071 128.668 14.9646 125.209 17.9788 118.744C17.9788 118.744 18.8653 115.075 19.539 111.826C17.6596 112.699 10.1773 116.298 5.2128 120.247C5.2128 120.247 0.851098 122.553 1.52486 134.154L0.177339 128.179C0.177339 128.179 -1.17018 141.422 3.19152 147.047C3.19152 147.047 9.5745 152.359 29.7163 153.022C29.7163 153.022 38.1206 154.665 44.8227 153.022C44.8227 153.022 44.9291 153.022 45.1064 153.022C47.3405 153.127 61.8795 153.966 68.9717 157.32C68.9717 157.32 102.908 161.513 109.61 160.5C109.61 160.5 118.688 160.954 120 159.941C120 159.941 112.943 158.613 112.624 157.635C112.624 157.635 136.809 158.299 140.496 156.307C140.496 156.307 140.496 153.791 142.518 151.45C142.518 151.45 136.241 150.227 136.915 149.249C136.915 149.249 142.411 148.375 144.078 147.047C144.078 147.047 144.965 145.964 146.099 136.25C146.099 136.25 146.17 135.482 146.241 134.224C143.901 135.167 140.106 136.39 139.858 134.538C139.752 133.839 143.865 132.651 146.454 131.323C146.667 127.62 146.915 122.693 146.809 119.723C146.809 119.723 145.887 116.578 143.44 116.124L143.475 115.949ZM90.2837 75.7305C90.2837 75.7305 91.6667 76.8836 91.0993 77.7921C91.0993 77.7921 87.1277 82.1948 86.1702 80.5874C85.8511 80.0633 89.61 77.3029 90.2483 75.7305H90.2837ZM127.482 50.4324C130.426 49.8034 131.915 50.9216 132.34 51.3758C132.979 51.7602 133.865 52.3891 134.078 53.0181L133.511 53.088C133.511 53.088 132.979 52.9482 132.447 52.7735C132.305 52.9832 132.163 53.088 132.163 53.088C130.355 54.6953 126.95 55.1496 125.745 54.7652C124.255 52.7735 127.447 50.4324 127.447 50.4324H127.482ZM130.177 57.4558C130.177 57.4558 124.539 59.727 124.539 55.5689C124.539 55.5689 128.192 57.0364 130.177 57.4558ZM114.397 68.4625C115.957 68.3926 117.589 68.5674 118.759 68.777C119.716 68.9168 120.319 69.0565 120.319 69.0565C121.135 69.7204 121.241 70.7338 121.277 71.6073C120.78 73.2147 119.752 73.634 118.688 73.7388C118.014 73.8087 117.34 73.7388 116.809 73.7388C113.085 73.5641 112.766 70.5241 112.766 70.5241C112.766 69.5457 114.397 68.4276 114.397 68.4276V68.4625ZM96.8085 47.5671C96.2057 47.5671 95.7447 47.7069 95.7447 47.7069L94.3972 47.3575C94.3972 47.3575 95.3901 46.9032 96.2057 46.6586C98.6525 45.6803 100.851 45.8899 102.376 46.3092C103.83 46.6936 104.681 47.2876 104.681 47.2876C104.752 47.3575 104.787 47.4274 104.858 47.4972C105.993 49.1395 104.539 51.3409 104.539 51.3409C101.206 50.9565 98.227 48.7901 96.7731 47.6021L96.8085 47.5671ZM98.227 52.7735C99.1135 53.8917 105.709 52.7735 105.709 52.7735C100.142 57.2112 98.227 52.7735 98.227 52.7735ZM103.653 67.9035C104.965 66.8552 106.454 68.4975 106.454 68.4975C104.397 70 103.653 67.9035 103.653 67.9035ZM109.007 67.6239C110.532 67.9733 109.858 69.1264 109.858 69.1264C108.83 68.9517 109.007 67.6239 109.007 67.6239ZM105.532 17.2024L108.085 17.5169C106.631 17.3422 106.809 20.2075 106.312 20.0327C105.816 19.858 104.539 20.3472 104.539 20.3472C103.901 19.264 105.496 17.2024 105.496 17.2024H105.532ZM96.844 9.75976C96.9859 9.09586 98.227 8.36207 98.9007 7.94277C98.1561 9.16574 97.4823 13.9878 97.4823 13.9878C97.4823 16.7132 103.688 17.7615 103.262 19.264C102.837 20.7316 105.603 22.6185 105.603 22.6185L102.411 24.9246C101.348 24.715 102.624 22.1992 102.624 22.1992C100.709 22.4088 97.9433 25.9729 97.9433 25.9729C96.6667 24.5053 99.2199 18.6001 99.2199 18.6001C97.0922 18.1808 94.9646 21.7449 94.2908 21.9546C93.0142 15.2107 96.7022 10.4935 96.844 9.72482V9.75976ZM90 23.9812C89.0426 26.1826 92.7305 27.126 92.7305 27.126L92.0922 28.2092C90 27.7549 87.6242 25.7283 87.4468 25.0644C87.1277 23.8065 90 23.9812 90 23.9812ZM66.3476 129.122C66.8085 128.668 69.539 128.773 69.539 128.773C69.8937 130.275 66.9504 131.813 66.9504 131.813C66.1702 132.581 64.6809 132.826 64.4681 132.861C65.1773 132.232 66.3476 129.157 66.3476 129.157V129.122ZM6.73762 136.32C6.73762 136.32 6.56032 141.107 9.5745 143.588C9.5745 143.588 5.39011 145.755 6.73762 136.32ZM15.2128 124.055C10.6029 124.055 12.4114 121.295 12.305 120.596C12.305 120.596 16.8085 118.779 14.8937 120.247C12.9433 121.749 15.2128 124.055 15.2128 124.055ZM27.5178 108.995C30.532 106.514 30.3546 101.727 30.3546 101.727C31.7022 111.162 27.5178 108.995 27.5178 108.995ZM137.305 143.518C137.305 143.518 132.34 146.803 131.844 144.986C131.667 144.392 136.028 142.645 137.057 141.317C137.057 141.317 138.085 142.749 137.34 143.518H137.305Z" />
							<path d="M6.13474 113.363C6.13474 113.363 10.1773 114.342 10.4964 112.385C10.8156 110.428 8.82978 108.401 8.82978 108.401C8.82978 108.401 2.4468 112.385 6.13474 113.363Z" />
							<path d="M1.7731 115.355C1.7731 115.355 3.43977 112.699 1.7731 112.385C1.7731 112.385 -0.567326 115.704 1.7731 115.355Z" />
							<path d="M159.22 139.08C159.184 137.508 158.546 136.04 157.447 134.922L153.901 131.428L147.163 157.285C147.163 157.285 155.425 157.18 159.929 156.935C160.284 156.272 159.433 146.628 159.255 139.08H159.22Z" />
							<path d="M10.6028 153.861C10.6028 153.861 0.992826 149.109 0.141762 154.42C0.141762 154.42 0.709138 158.054 2.41127 159.452C3.54602 159.731 9.75169 159.452 9.75169 159.452C9.75169 159.452 13.7233 154.42 10.6028 153.861Z" />
							<path d="M61.1347 8.15182C61.1347 8.15182 66.0993 14.4414 63.2624 5.35645C63.2624 5.35645 57.8368 7.45297 61.1347 8.15182Z" />
							<path d="M150.426 39.0758C153.014 44.2123 157.128 33.6598 157.128 33.6598C157.128 33.6598 153.511 31.2837 150.638 32.3669C147.731 33.4501 150.426 39.0758 150.426 39.0758Z" />
							<path d="M148.723 46.0639C148.936 49.628 153.227 45.1903 153.227 45.1903C152.234 42.8142 148.723 46.0639 148.723 46.0639Z" />
							<path d="M5.60286 14.5461C10.3192 17.1319 14.8582 7.31312 14.8582 7.31312C18.8298 -1.80677 0.0354843 4.62258 0.0354843 4.62258C0.0354843 4.62258 0.886548 11.9604 5.60286 14.5461Z" />
							<path d="M27.0568 6.82423C31.5958 -1.07269 21.0639 4.0638 21.0639 4.0638C18.9717 10.2136 27.0568 6.82423 27.0568 6.82423Z" />
						</g>
					</svg>
				</div>
			</div>
		</div>
		<div class="main-content width-adjuster">
			<div class="pagecontainer">
				<div class="content-placer" style="display: block">
					<div class="mid-content">
						<form id="search_and_filter_form" asp-action="Index" method="get">
							<partial name="/Views/Species/2021/List/partials/_Search.cshtml" />
							<partial name="/Views/Species/2021/List/partials/_Filters.cshtml" />
						</form>
						<partial name="/Views/Shared/_CitationForList.cshtml" model="citationViewModel" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
