@model NatureTypesDetailViewModel

<h3>
    Regioner
</h3>

<p>
    @Model.Assessment.Regions.OrderBy(x => x.SortOrder).Select(x => x.Name).JoinAnd(", ", " og ")
</p>

<table>
    <tr>
        <th>Region</th>
        <th>Forekomst</th>
    </tr>

    @foreach (var region in Model.Regions)
    {
        <tr>
            <td>
                @region.Name
            </td>
            <td>
                @(Model.Assessment.Regions.Any(x => x.Id == region.Id) ? "X" : string.Empty)
            </td>
        </tr>
    }
</table>
