@{
    Layout = null;    
}

<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lister - Rødlista for natur og arter, Fremmedartslista</title>
</head>
<body>
    <p>
        Denne siden vises kun i lokalt utviklermiljø..
    </p>
    <ul>
        <li>
            <a asp-controller="Species" asp-route-Area="N">
                Rødlista for arter
            </a>
        </li>
        <li>
            <a asp-controller="AlienSpecies" asp-action="Index" asp-route-TaxonRank="AssessedAtSameRank">
                Fremmedartslista 2023
            </a>
        </li>
        <li>
            <a asp-controller="NatureTypes" asp-action="List">
                Rødlista for naturtyper 2025
            </a>
        </li>
    </ul>
</body>
</html>
