@{
    ViewData["Title"] = "Kan ikke finne siden";
}

<div class="pagecontainer">
    <div class="mid-content">
        <div class="page-header">
            <p>
                Den forespurte siden eksisterer ikke.
            </p>
        </div>
    </div>
</div>