@using System.Diagnostics
@model int
@{
    ViewData["Title"] = "En feil oppstod";

    var requestId = Activity.Current?.Id ?? Context.TraceIdentifier;
}

<div class="pagecontainer">
    <div class="mid-content">
        <div class="page-header">
            @if (Model == StatusCodes.Status401Unauthorized)
            {
                <p>
                    Ingen tilgang til denne siden
                </p>
            }
            else
            {
                <h3>
                    Beklager, en feil oppstod på denne siden.
                </h3>

                <p is-visible="@(!string.IsNullOrEmpty(requestId))">
                    referanse: @requestId
                </p>
            }
        </div>
    </div>
</div>